// _about.scss

.about {

    .tpgtv-block {
    	padding: 4rem 2rem 6rem;

    	.section-header {

    		span {
    			background: none;
    		}
    	}

        .main-content {
            float: none;
            margin: 1.7rem auto 0;
        }
    }
}
