// _colors.scss

$black: #202026;
$black90: rgba(32,32,38,0.9);

$navy: #0f1568;
$navy40: rgba(15, 21, 104, 0.4);

$royal: #1723c6;

$green: #00ffc6;
$green40: rgba(0,255,198,0.60);


$white: #fff;
$white25: rgba(255,255,255,0.25);
$white50: rgba(255,255,255,0.50);

$twitter: #5ea9dd;
$facebook: #3b5998;

$f2: #f2f2f2;
$grey9: #f9f9f9;
$border-grey: #e5e5e5;
$lightest-grey:#e5e5e5;
$light-grey: #808080;

$red: #ff0000;

$map-blue: #021C5E;
