// _hub-hero.scss

.hub-hero {
    width: 100%;
    color: $white;
    position: relative;
    background: url(../images/bg-hub-hero.jpg) center center no-repeat;
    background-size: cover;
    padding: 4rem 0;

    .hub-hero-wrapper {
        width: calc(100% - 4rem);
        max-width: $content-width;
        padding: 8rem 2rem 4rem 2rem;
        margin: 0 auto;
        position: relative;
    }

    .hero-img {
        position: absolute;
        z-index: 1;
        width: calc(100% - 4rem);
        top: 50%;
        transform: translateY(-50%);
        left: 7rem;
        max-width: 37rem;
        transition: max-width 0.3s;

        &.credit-card {
            transform: translateY(-50%) rotate(-10deg);
        }
    }

    .meta {
        position: relative;
        z-index: 2;
        text-align: center;
        max-width: 7 * $colgut - $gut;
        margin: 0 auto;

        .title {
            margin: 0 auto 2rem;
            font-size: 6rem;
        }

        .sub-title {
            max-width: 70%;
            margin: 0 auto;
        }
    }

    .great-traits {
        position: relative;
        z-index: 2;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        margin: 4rem 0 0 0;

        .badges {

            .badge {
                @include inline-vertical;
                background: $green;
                color: $navy;
                @include walsh-bold;
                font-size: 1.6rem;
                padding: 1rem 2rem;
                margin: 1rem 0 0 0;
                transition: all 0.2s;

                svg {
                    width: 2rem;
                    @include inline-vertical;

                    .cls-1 {
                        fill: $navy;
                    }
                }

                span {
                    @include inline-vertical;
                }

                &:hover {
                    cursor: pointer;
                    background: $navy;
                    color: $green;

                    svg {

                        .cls-1 {
                            fill: $green;
                            transition: all 0.2s;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1210px) {

    .hub-hero {

        .hero-img {
            max-width: 32rem;
            left: 3rem;

            &.credit-card {

                &:after {
                    height: 27rem;
                    width: 27rem;
                    margin-top: -0.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1010px) {

    .hub-hero {

        .hero-img {
            max-width: 27rem;
            left: 3rem;

            &.credit-card {

                &:after {
                    height: 23rem;
                    width: 23rem;
                    margin-top: -0.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    .hub-hero {

        .hub-hero-wrapper {
            padding: 5rem 0;
        }

        .hero-img {
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: 20rem;

            &.credit-card {
                transform: translateX(-50%) rotate(-10deg);

                &:after {
                    height: 17rem;
                    width: 17rem;
                }
            }
        }

        .meta {
            margin: 4rem auto 0;

            .title {
                font-size: 5rem;
            }
        }
    }
}

@media only screen and (max-width: 660px) {

    .hub-hero {

        .hero-img {
            max-width: 15rem;

            &.credit-card {

                &:after {
                    width: 13rem;
                    height: 13rem;
                }
            }
        }
    }
}
