// _nav.scss

.hamburger-bg {
    display: none;
    background: $navy;
    width: 100vw;
    height: 6rem;
    position: relative;
    margin: -1rem 0 0;
}

.hamburger {
    display: none;
    width: 2.8rem;
    background: $navy;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1000;

    span {
        display: block;
        width: 2.8rem;
        height: 0.2rem;
        background: $white;
        margin: 0 0 0.3rem 0;
        transition: transform 0.2s, opacity 0.2s;
    }

    &.active {

        span {

            &:nth-of-type(1) {
                transform: translateY(0.5rem);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                transform: translateY(-0.5rem);
            }
        }

        &.x {

            span {

            &:nth-of-type(1) {
                transform: translateY(0.5rem) rotate(45deg);
            }

            &:nth-of-type(3) {
                transform: translateY(-0.5rem) rotate(-45deg);
            }
        }
        }
    }
}

header {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: $navy;
    transition: opacity 0.3s, z-index 0.3s;
    //
    height: 11.7rem;
    padding: 0 $gut;
    // nav up/down
    z-index: 5;
    transform: translateY(0);

    &.make-fixed {
        position: fixed;
        top: -15rem;
        transition: transform 0.3s;

        // NV: offset the height that was lost by making the nav fixed
        & + div {
            margin-top: 15rem;
        }

        &.scroll-up-show {
            transform: translateY(15rem);
        }
    }

    .logo {
        width: 7.8rem;
        position: absolute;
        bottom: 0.9rem;
        left: 0;

        svg {

            .st0 {
                fill: $white;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .header-wrapper {
        max-width: $max-width;
        margin: 0 auto;
        position: relative;
        height: 100%;

        &:after {
            content: "";
            background: url('../images/dashes-navy.png') center center repeat-x;
            position: absolute;
            width: 100%;
            height: 0.2rem;
            top: 4rem;
            left: 0;
        }
    }

    .main-nav {
        overflow: auto;
        position: absolute;
        top: -0.3rem;
        left: 0;

        nav {
            @include pressura-regular;
            font-weight: 700;
            font-size: 1.4rem;
            float: left;

            ul {
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    margin: 0 0.5rem 0;
                    border: 0.2rem solid transparent;
                    border-radius: 0.5rem;
                    padding: 2rem 0.2rem;
                    line-height: 0;
                    position: relative;

                    &:first-of-type {
                        padding-left: 0;
                        margin-left: 0;
                    }
                }

                a, a:hover, a:active, a:visited, a:link {
                    color: $white;
                    text-decoration: none;
                    text-transform: uppercase;
                    position: relative;
                    transition: color 0.3s;

                    &.active {
                        color: $royal;

                        &:before {
                            content: "*";
                            position: absolute;
                            top: -0.2rem;
                            left: -1rem;
                        }

                        &:after {
                            content: "*";
                            position: absolute;
                            top: -0.2rem;
                            right: -1rem;
                        }
                    }

                    &:hover {
                        opacity: 1;
                        border-bottom: 0.1rem solid $white;
                    }
                }
            }
        }
    }

    .sub-nav {
        position: absolute;
        bottom: 1.8rem;
        left: 13rem;

        ul {
            list-style: none;
            @include walsh-bold;
            font-size: 2.2rem;
            line-height: 1;
            width: 100%;
            padding: 0;
            margin: 0;
            color: $white;

            li {
                display: inline-block;
                text-align: left;
                margin: 0 0 0 $gut;
                padding: 0 0 0 $gut;
                vertical-align: middle;
                position: relative;
                transition: color 0.3s;

                &.start-here {
                    margin: 0;
                    padding: 0;
                    border: none;

                    &:after {
                        display: none;
                    }

                    &:hover {
                        color: $green;
                    }
                }

                &:after {
                    content: "";
                    background: url("../images/dashes-navy-vert.png") center center repeat-y;
                    position: absolute;
                    width: 0.2rem;
                    height: 5rem;
                    top: -0.1rem;
                    left: 0;
                }

                &:hover {
                    cursor: pointer;
                    color: $green;
                }
            }
        }
    }

    .header-border {
        width: 100%;
        border-bottom: 0.4rem solid $royal;
        margin: 0 0 0.3rem 0;
        position: absolute;
        bottom: 0;
        left: 0;
        //
        display: none;
    }
}



