// _the-latest-home.scss

&.the-latest-home {

    &:before {
        display: none;
    }

    .title {
        border: none;
        height: calc(100% + 1.5rem);
        position: absolute;
        top: 0.75rem;
        left: -3.5rem;
        width: 3rem;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            max-width: 1.15rem;
        }

        &:before {
            content: "";
            width: 0.1rem;
            background: $white25;
            height: 100%;
        }

        .before {
            width: 0.1rem;
            background: $white;
            height: calc(50% - 5.5rem); // height of the title image / 2 + padding
            position: absolute;
            top: 0;
            left: 0.4rem;

            &:after {
                content: "";
                width: 0.1rem;
                background: $white;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0.3rem;
            }
        }

        .after {
            @extend .before;
            top: initial;
            bottom: 0;
        }
    }

    .link {
        border-bottom: 0.1rem solid rgba(255,255,255,.25);

        .meta {
            width: 100%;
            margin: 0 0 0.2rem;
        }

        .label {
            margin: 0 1rem 0 0;
            transition: all 0.3s;

            &:hover {
                cursor: pointer;
            }
        }

        .timestamp {
            display: inline-block;
            vertical-align: middle;
            top: 0;
            font-size: 1.4rem;
            color: $white50;
            padding: 0 0 0 0;
            margin: 0 0 0 0;

            &:before {
                display: none;
            }
        }

        a, a:hover, a:active, a:visited, a:link {
            color: $white;
        }

        a:hover {
            color: $green;
        }

        &:last-of-type {
            border-bottom: 0.1rem solid transparent;
        }
    }

    .more-link {
        position: relative;
        display: inline-block;

        a, a:hover, a:active, a:visited, a:link {
            font-size: 1.4rem;
            color: $white;
        }

        a:hover {
            color: $green;
        }

        &:after {
            content: "";
            width: 0.8rem;
            height: 0.8rem;
            position: absolute;
            top: 50%;
            right: -1.5rem;
            transform: translateY(-50%) rotate(-45deg);
            border-right: 0.1rem solid $white50;
            border-bottom: 0.1rem solid $white50;
        }
    }


}

@media only screen and (max-width: 1210px) {

    &.the-latest-home {

        &.inset {
            width: 25rem;

            &.right {
                float: right;
            }
        }
    }
}

@media only screen and (max-width: 1010px) {

    &.the-latest-home {
        height: auto !important;

        .title {
            position: absolute;
            top: 0;
            height: 0rem;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);

            .before {
                top: 6rem;
                height: 24.2rem;
            }

            .after {
                top: initial;
                bottom: 6rem;
            }
        }

        &.inset {
            width: calc(100% - 4rem);
            max-width: 60rem;
            transition: width 0.3s, max-width 0.3s;

            &.right {
                float: none;
            }
        }
    }
}


@media only screen and (max-width: 680px) {

    &.the-latest-home {

        .title {

            .before {
                height: 11.2rem;
            }
        }

        &.inset {
            max-width: 34rem;
        }
    }
}
