// _three-articles-module.scss

.three-articles-module {

	.article {
		margin: 2.6rem 2rem 0 0;

		a, a:hover, a:active, a:visited, a:link {
			position: relative;
		    padding: 2rem 0 0;
    		margin: 0.5rem 0 0 0;
    		z-index: 2;

			&:before {
				content: "1";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				color: $navy;
				background: $green;
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				z-index: -1;
				font-size: 2.4rem;
				padding: 0.4rem 0 0 0;
				transition: all 0.3s;
			}
		}

		&:nth-of-type(2) {

			a, a:hover, a:active, a:visited, a:link {
				&:before {
					content: "2";
				}
			}
		}

		&:nth-of-type(3) {

			a, a:hover, a:active, a:visited, a:link {

				&:before {
					content: "3";
				}
			}
		}

		&:hover {
			cursor: pointer;

			a, a:hover, a:active, a:visited, a:link {

				&:before {
					top: -2rem;
					z-index: 1;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {

	.three-articles-module {

		.article {
		    margin: 3.6rem 2rem 6rem 0;
		    vertical-align: top;
		    display: block;
		}
	}
}
