<!-- 404 Content -->

<section class="four-oh-four-content">

    <div class="images">
        <div class="images-macro animated bounceInDown">
            <div class="image1">
                <img src="images/cord.png">
            </div>
            <div class="image2">
                <img src="images/bag.png">
            </div>
            <div class="image3">
                <img src="images/cup_string.png">
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="headline">
            This page does not exist.
        </div>
        <div class="sub-headline">
            Place the mask firmly over your nose and mouth, secure the elastic band behind your head, and <a href="home">browse normally</a>.
        </div>
    </div>

</section>
