<!-- About Bio -->

<section class="about-bio">
    When I was in fifth grade, my parents gave me 70,000 American Airline miles and a guidebook and told me to plan a family trip to Bermuda. That was my first taste of travelling on points. I’ve never looked back. Fast forward to June of 2011. I was writing my Points Guy newsletter on my Wall Street lunchbreak, and there was so much demand that I decided to leave the office behind and write full-time. We’ve been growing ever since, sharing tips and travel strategies to help people see the world for (almost) free.
</section>
