<!-- Airlines Icons -->

<section class="airlines-icons">
    <div class="airlines-icons-wrapper">
        <div class="section-header">
            Airlines that <br>
            accept these points
        </div>
        <div class="airlines-macro">
            <span class="airline-image"><img src="images/american-airlines.png" alt="Jetblue Logo FPO"></span>
            <span class="airline-image"><img src="images/delta.png" alt="Jetblue Logo FPO"></span>
            <span class="airline-image"><img src="images/jetblue.png" alt="Jetblue Logo FPO"></span>
            <span class="airline-image"><img src="images/southwest.png" alt="Jetblue Logo FPO"></span>
            <span class="airline-image"><img src="images/united.png" alt="Jetblue Logo FPO"></span>
        </div>
    </div>
</section>
