<!-- Article intro -->

<div class="article-intro">
    <img src="images/in-brief.png" alt="In Brief">
    <div class="intro-micro">
        Summer means soaring fares, but we’ve found six unusually lucrative offers to help cut down on your vacation spend. So much has changed in the past six months, even commited card holders may want to take a second look. The first step is to choose a destination.
    </div>
</div>
