<!-- Articles plus Widget -->

<section class="articles-plus-widget">
    <div class="articles-plus-widget-wrapper">
        <img src="images/articles-plus-widget.jpg" alt="FPO">
    </div>
</section>
