<!-- Bullet List -->

<ul class="bullet-list">
    <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae augue at leo rutrum interdum. Proin scelerisque lectus sed ipsum volutpat finibus.
    </li>
    <li>
        Nullam tincidunt turpis nunc. Ut nec neque id mauris scelerisque maximus vel eget nibh.
    </li>
    <li>
        Ut molestie urna nec ligula dictum, vitae rhoncus diam ornare.
    </li>
    <li>
        Duis vitae nulla ipsum. Phasellus id fringilla est. Praesent aliquet ante mollis odio ultrices, eu aliquam ante porta.
    </li>
    <li>
        Ut scelerisque at urna vel blandit. Nulla facilisi. Etiam varius cursus gravida. Ut non lacus nibh
    </li>

</ul>
