<!-- Card Pick Tooltip -->

<section class="card-pick-tooltip">
    <div class="x-close">
        <svg version="1.1" id="x-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 42.4 42.4" style="enable-background:new 0 0 42.4 42.4;" xml:space="preserve">
            <rect class="cls-1" x="-6.8" y="19.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.7868 21.2132)" width="56" height="4"></rect>
            <rect class="cls-1" x="-6.8" y="19.2" transform="matrix(0.7071 0.7071 -0.7071 0.7071 21.2132 -8.7868)" width="56" height="4"></rect>
        </svg>
    </div>
    <ul class="list">
        <li>
            Earn 50,000 bonus points when you spend $4,000 on purchases in the first 3 months from account opening. That's $625 in travel when you redeem through Chase Ultimate Rewards®
        </li>
        <li>
            $0 foreign transaction fees, plus chip-enabled for enhanced security and wider acceptance when used at a chip card reader
        </li>
        <li>
            Named a 'Best Credit Card' for Travel Rewards by MONEY Magazine
        </li>
        <li>
            1:1 point transfer to leading frequent travel programs at full value — that means 1,000 Chase Ultimate Rewards points equal 1,000 partner miles/points
        </li>
        <li>
            2X points on travel and dining at restaurants &amp; 1 point per dollar spent on all other purchases
        </li>
        <li>
            Travel confidently with premium Travel Protection Benefits, including Trip Cancellation/ Trip Interruption Insurance, Auto Rental Collision Damage Waiver, Trip Delay Reimbursement and more
        </li>
        <li>
            Sleek metal card design
        </li>
        <li>
            Earn 5,000 bonus points after you add the first authorized user and make a purchase in the first 3 months from account opening
        </li>
    </ul>
    <dl class="terms">
        <dt>
            Intro&nbsp;Apr
        </dt>
        <dd>
            N/A
        </dd>
        <dt>
            Regular&nbsp;Apr
        </dt>
        <dd>
            16.24%-23.24% Variable
        </dd>
        <dt>
            Annual&nbsp;Fee
        </dt>
        <dd>
            Introductory Annual Fee of $0 the first year, then $95
        </dd>
        <dt>
            Balance&nbsp;Transfer
        </dt>
        <dd>
            See Terms
        </dd>
        <dt>
            Credit&nbsp;Rating
        </dt>
        <dd>
            Excellent Credit
        </dd>
    </dl>
</section>
<div class="notch">
</div>
