<!-- Chapter Title -->

<section id="{{slug}}" class="chapter-title">

{#     <span class="number">
        {{number}}
    </span> #}
    <span class="copy">
        {{title}}
    </span>

</section>
