<!-- Color List -->

<section class="color-list">

    <ul class="main-colors">
        <li class="royal">
            <div>
            </div>
            <span>
                Royal
                <br>
                #1723c6
            </span>
        </li>
        <li class="navy">
            <div>
            </div>
            <span>
                Navy
                <br>
                #0f1568
            </span>
        </li>
        <li class="green">
            <div>
            </div>
            <span>
                Green
                <br>
                #0ffc6
            </span>
        </li>
        <li class="black">
            <div>
            </div>
            <span>
                Black
                <br>
                #202026
            </span>
        </li>
        <li class="white">
            <div>
            </div>
            <span>
                White
                <br>
                #ffffff
            </span>
        </li>
    </ul>

</section>
