<!-- Current Offer Bar -->

<section class="current-offer-bar">
    <div class="current-offer-bar-wrapper">
        <div class="current-offer">
            <div class="header">
                Current Offer
            </div>
            <div class="offer">
                50,000 points <span>When you spend $3,000 in the first 3 months</span>
            </div>
        </div>
        <div class="card-actions">
            {% include 'components/i-have-this-card.twig' %}
            <div class="button apply">
                Apply at Chase.com
            </div>
        </div>
    </div>
</section>
