<!-- Deal module -->

<section class="deal-module">
    <div class="deal-module-header">
        Trip Details
    </div>
    <div class="deal-module-content">
        <div class="details">
            <div class="detail-header">
                Route
            </div>
            <div class="detail-copy">
                EWR &amp; JFK to ARN
            </div>
            <div class="detail-header">
                Cost
            </div>
            <div class="detail-copy">
                $348 + Round trip in economy
            </div>
            <div class="detail-header">
                Dates
            </div>
            <div class="detail-copy">
                October 2016 - December 2016
            </div>
            <div class="detail-header">
                Airline
            </div>
            <div class="detail-copy">
                Star Alliance (United, Swiss, Lufthansa, SAS &amp; Air Canada)
            </div>
        </div>
        <button class="apply">
            Book Now at Orbitz
        </button>
    </div>
</section>
