<!-- Deal article content -->
<section class="article-content">
    <div class="article-wrapper">
        {% include "components/deal-article-body-content.twig" %}
    </div>
</section>
{% include "components/sidebar.twig" %}

