<!-- Deal article header -->

<div class="article-header" style="background: url('images/deal-header.jpg') center center no-repeat; background-size: cover">
    <div class="label">
        Deal Alert
    </div>

    <div class="title">
        New York to Stockholm from $348 Round-Trip
    </div>
    <div class="byline">
        by
        <span class="byline-photo">
            <img src="images/byline-photo.jpg" alt="byline FPO">
        </span>
        Sarah Silbert
    </div>
    <div class="timestamp">
        &nbsp;
    </div>
    <div class="meta">
        {% include 'components/share-icons.twig'%}
    </div>
    <div class="deal-timestamp">
        <div class="timestamp-macro">
            <span class="timestamp-micro">Posted 22 minutes ago</span>
        </div>
    </div>
</div>
