<!-- Disclaimer -->

<section class="disclaimer">
    <div class="macro">
        <strong>Note.</strong> The Points Guy is editorially independent, but we make a commission if a reader applies for a card we feature. <a href="">Learn more</a> about how the site works.
    </div>
</section>
