<!-- Edit -->

<div class="edit">
    <span class="btn-edit"><span>edit</span></span>
    <div class="save-cancel">
        <span class="btn-save">save</span>
        <span class="divider">|</span>
        <span class="btn-cancel">cancel</span>
    </div>
</div>
