<!-- Extended Reading -->

<section class="extended-reading">
    <div class="extended-reading-wrapper">
        <div class="topic-column">
            <div class="lead-article">
                <div class="column-label">
                    Reviews
                </div>
                <div class="img-wrapper">
                    <img src="images/article-fpo1.jpg" alt="FPO">
                </div>
                <div class="meta">
                    <a href="">The 8 Travel Apps We Can’t Go Without</a>
                    <div class="timestamp">
                        Yesterday
                    </div>
                </div>
            </div>
            <div class="secondary-article">
                <img src="images/article-fpo4.jpg" alt="FPO">
                <div class="meta">
                    <a href="">The Best Carry-On Suitcase For Frequent Flyers</a>
                    <div class="timestamp">
                        45 minutes ago
                    </div>
                </div>
            </div>
            <div class="secondary-article">
                <img src="images/article-fpo5.jpg" alt="FPO">
                <div class="meta">
                    <a href="">Using FlyMonk to track your miles and points</a>
                    <div class="timestamp">
                        6 hours ago
                    </div>
                </div>
            </div>
            <div class="more-link">
                <a href="#">More Reviews</a>
            </div>
        </div>
        <div class="topic-column">
            <div class="lead-article">
                <div class="column-label">
                    News
                </div>
                <div class="img-wrapper">
                    <img src="images/article-fpo3.jpg" alt="FPO">
                </div>
                <div class="meta">
                    <a href="">TripAdvisor Updates App with Paid Tier, AR Mode</a>
                    <div class="timestamp">
                        April 20th, 2016
                    </div>
                </div>
            </div>
            <div class="secondary-article">
                <img src="images/article-fpo8.jpg" alt="FPO">
                <div class="meta">
                    <a href="">The 4 Best Beers on Domestic Flights</a>
                    <div class="timestamp">
                        6 hours ago
                    </div>
                </div>
            </div>
            <div class="secondary-article">
                <img src="images/article-fpo9.jpg" alt="FPO">
                <div class="meta">
                    <a href="">12 Things to Know Before A Trip to Singapore</a>
                    <div class="timestamp">
                        2 days ago
                    </div>
                </div>
            </div>
            <div class="more-link">
                <a href="#">More News</a>
            </div>
        </div>
        <div class="topic-column deals">
            <div class="lead-article">
                <div class="column-label">
                    Deals
                </div>
                <div class="img-wrapper">
                    <img src="images/singapore.jpg" alt="FPO">
                    <div class="deal-caption">
                        46 Minutes Ago
                    </div>
                </div>
                <div class="meta">
                    <a href="">Singapore Airlines Sale to Asia and Europe From $546 Round-Trip</a>
                    <div class="timestamp">
                        June 9th, 2016
                    </div>
                </div>
            </div>
            <div class="secondary-article">
                <img src="images/spain.jpg" alt="FPO">
                <div class="meta">
                    <a href="">Amazing Deal Alert: Boston to Spain from $303 Round-Trip</a>
                    <div class="timestamp">
                        2 hours ago
                    </div>
                </div>
            </div>
            <div class="secondary-article">
                <img src="images/brussels.jpg" alt="FPO">
                <div class="meta">
                    <a href="">Deal Alert: New York to Brussels from $443 Round-Trip</a>
                    <div class="timestamp">
                        Yesterday
                    </div>
                </div>
            </div>
            <div class="more-link">
                <a href="#">More Deals</a>
            </div>
        </div>

    </div>
</section>
