<!-- Favorite Individual Card -->
<div class="card-img-wrapper">
    {{imgUrl|raw}}
</div>
<div class="meta">
    <div class="meta-title">
        {{cardTitle}}
    </div>
    <div class="meta-description">
        {{offer}}
    </div>
</div>
