<!-- Footer guts -->

<footer class="Footer">

    <section class="FooterMain">
        <div class="wrapper">
            <div class="column__main">
                <div class="column__main_logo">
                    <img class="vert" src="images/footer/footer-logo.svg" alt="">
                    <img class="horiz" src="images/footer/footer-logo-horiz.svg" alt="">
                </div>
                <div= class="column__main_content">
                    <section class="row newsletter">
                        <div class="row__header">The TPG Newsletter</div>
                        <div class="newsletter__wrapper">
                            <div class="copy"><b>BE A SMARTER TRAVELER</b>: Get points strategies, customized alerts + more</div>
                            <form>
                                <input type="email" name="email" placeholder="example@email.com">
                                <button type="submit">Sign Up</button>
                            </form>
                        </div>
                    </section>
                    <section class="row site_links">
                        <div class="row__header">Site</div>
                        <nav class="site__wrapper link_row">
                            <a href="#">The Latest</a>
                            <a href="#">Our Favorite Cards</a>
                            <a href="#">Press</a>
                            <a href="#">Events</a>
                            <a href="#">Points for Peace</a>
                            <a href="#">About Brian</a>
                            <a href="#">Team</a>
                        </nav>
                    </section>
                    <div class="row site_tools">
                        <div class="site_tools__wrapper">
                            <div class="row__header">Tools</div>
                            <div class="link_row">
                                <a href="#">TPG To Go</a>
                                <a href="#">Wallet Maximizer</a>
                            </div>
                        </div>
                        <div class="disclosure__wrapper">
                            <a href="#">ADVERTISER DISCLOSURE</a>
                        </div>
                    </div>
                    <div class="row yatta desktop">
                        <span class="copy">&copy; 2017 THE POINTS GUY, LLC. ALL RIGHTS RESERVED</span>
                        <a href="#">PRIVACY POLICY</a> | <a href="#">TERMS OF USE</a>
                    </div>
                </div>
            </div>
            <div class="column__social">
                <section class="row">
                    <div class="row__header">TPG Social</div>
                    <nav class="footer_social">
                        <a href="#" class="plain-link">@thepointsguy</a>
                        <a href="#">
                            <i class="icon"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M18.86.04H1.14C.534.04.04.534.04 1.14v17.72c0 .607.493 1.1 1.1 1.1h9.54v-7.714H8.084V9.24h2.596V7.023c0-2.573 1.57-3.974 3.866-3.974 1.1 0 2.044.08 2.32.117v2.688h-1.592c-1.248 0-1.49.594-1.49 1.465v1.92h2.977l-.386 3.006h-2.59v7.713h5.076c.607 0 1.1-.494 1.1-1.1V1.14c0-.607-.493-1.1-1.1-1.1" fill="#0F1568" fill-rule="evenodd"/></svg></i>
                            <span class="social_text">Facebook</span>
                        </a>
                        <a href="#">
                            <i class="icon"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 0h-15C1.12 0 0 1.12 0 2.5v15C0 18.88 1.12 20 2.5 20h15c1.38 0 2.5-1.12 2.5-2.5v-15C20 1.12 18.88 0 17.5 0zM6.148 9.585c.004-.04.012-.078.018-.117.013-.096.027-.193.047-.287l.033-.122c.022-.09.046-.18.074-.266l.044-.12c.032-.085.064-.17.1-.25l.018-.044h.004C7.1 7.048 8.44 6.126 10 6.126c1.56 0 2.9.922 3.514 2.25h.004l.017.042c.037.082.07.166.1.25.016.04.032.08.045.122.03.087.052.176.074.266.01.042.024.082.033.125.02.097.034.194.047.29.006.04.014.078.018.117.015.137.023.275.023.415 0 2.14-1.735 3.876-3.875 3.876-2.14 0-3.875-1.735-3.875-3.875 0-.14.008-.277.023-.414zM17.75 16.75c0 .552-.448 1-1 1H3.25c-.552 0-1-.448-1-1V8.375h1.843c-.142.518-.218 1.063-.218 1.625 0 3.383 2.742 6.125 6.125 6.125s6.125-2.742 6.125-6.125c0-.563-.076-1.107-.218-1.625h1.843v8.375zm0-11.5c0 .552-.448 1-1 1h-2c-.552 0-1-.448-1-1v-2c0-.552.448-1 1-1h2c.552 0 1 .447 1 1v2z" fill="#0F1568" fill-rule="evenodd"/></svg></i>
                            <span class="social_text">Instagram</span>
                        </a>
                        <a href="#">
                           <i class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="23"><path fill="#0F1568" fill-rule="evenodd" d="M11.97 22.742c-.04.003-.08.005-.12.005-1.39 0-2.285-.643-3.15-1.265-.595-.43-1.158-.834-1.822-.947-.324-.054-.646-.082-.957-.082-.56 0-1 .088-1.32.153-.19.04-.36.072-.49.072s-.28-.03-.34-.25c-.05-.19-.09-.375-.13-.554-.1-.46-.17-.743-.36-.772-2.21-.348-2.84-.82-2.98-1.157-.02-.048-.03-.096-.03-.144-.01-.12.08-.24.21-.26 3.396-.57 4.918-4.1 4.98-4.25.215-.44.255-.81.128-1.12-.233-.56-.993-.8-1.495-.96l-.33-.11c-1.005-.4-1.09-.82-1.05-1.03.063-.36.54-.61.92-.61.103 0 .195.02.273.06.45.22.86.33 1.21.33.487 0 .7-.21.725-.232l-.042-.73c-.1-1.633-.23-3.662.28-4.82C7.58.57 10.808.3 11.76.3l.418-.003c1.01 0 4.245.27 5.768 3.744.508 1.16.382 3.19.28 4.83l-.003.07c-.013.23-.027.45-.038.66.024.03.22.22.66.24.333-.01.717-.12 1.14-.32.123-.06.26-.07.353-.07.143 0 .287.03.407.08.35.13.572.37.577.62.003.24-.176.6-1.057.96-.09.04-.208.08-.33.12-.505.16-1.264.407-1.497.966-.127.307-.087.68.12 1.107.07.165 1.59 3.695 4.987 4.264.125.02.215.134.208.263-.002.05-.013.1-.034.143-.14.33-.77.806-2.98 1.15-.18.03-.25.27-.36.77-.04.18-.08.36-.14.55-.05.167-.15.24-.32.24-.15 0-.31-.02-.52-.06-.38-.076-.8-.145-1.33-.145-.32 0-.64.028-.96.08-.66.115-1.23.52-1.82.948-.87.627-1.76 1.27-3.16 1.27-.06 0-.12 0-.18-.004z"/></svg></i>
                            <span class="social_text">Snapchat</span>
                        </a>
                        <a href="#">
                            <i class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="21"><path fill="#0F1568" fill-rule="evenodd" d="M7.71 20c-2.84 0-5.484-.833-7.71-2.26.394.046.794.07 1.2.07 2.357 0 4.526-.804 6.247-2.153-2.2-.04-4.06-1.495-4.7-3.494.308.06.624.09.948.09.46 0 .903-.06 1.325-.176C2.72 11.615.985 9.582.985 7.145V7.08c.678.378 1.454.604 2.28.63-1.35-.902-2.24-2.44-2.24-4.187 0-.92.25-1.786.682-2.528C4.187 4.038 7.895 6.04 12.075 6.25c-.085-.368-.13-.752-.13-1.146 0-2.778 2.252-5.03 5.03-5.03 1.448 0 2.755.61 3.673 1.588 1.145-.225 2.222-.644 3.194-1.22-.376 1.174-1.173 2.16-2.212 2.783 1.018-.122 1.987-.392 2.89-.792-.675 1.008-1.528 1.894-2.51 2.604.01.215.014.432.014.65C22.024 12.335 16.964 20 7.71 20"/></svg></i>
                            <span class="social_text">Twitter</span>
                        </a>
                    </nav>
                </section>
                <div class="yatta mobile">
                    <span class="copy">&copy; 2017 THE POINTS GUY, LLC. ALL RIGHTS RESERVED</span>
                    <a href="#">PRIVACY POLICY</a> | <a href="#">TERMS OF USE</a>
                </div>
            </div>
        </div>
        <div class="arf">
            <svg width="43" height="48" xmlns="http://www.w3.org/2000/svg"><path d="M29.102 43.903c-.36-.024-.725-.024-1.08-.077-.455-.066-1.063.042-1.2-.57-.122-.545.324-.894.73-1.147 1.46-.92 2.167-2.2 2.062-3.93-.037-.62-.098-1.32-.52-1.7-1.49-1.38-1.926-3.29-2.75-5.01-.283-.59-.6-.71-1.118-.39-1.026.63-2.088 1.19-3.248 1.55-.594.18-.802.64-.76 1.21.242 3.25-.8 6.26-1.725 9.29-.257.85-.413 1.707-.49 2.595-.126 1.42-.784 1.894-2.177 1.72-.954-.116-1.913-.183-2.863-.31-.355-.05-.724-.19-.814-.616-.11-.46.17-.755.51-1 .06-.045.13-.1.2-.123 1.91-.528 2.04-1.984 2.05-3.648 0-2.12.43-4.23 0-6.358-.21-1.01-2.64-2.59-3.61-2.25-.56.194-.45.683-.49 1.11-.16 1.993-.37 3.99-.47 5.99-.08 1.654-1.08 2.993-1.44 4.55-.1.43-.544.715-1.015.75-1.04.075-2.09.16-3.11-.1-1.03-.26-1.18-.897-.385-1.63.558-.52 2.74-6.68 1.78-9.38-.44-1.23-.643-2.567-.724-3.9-.02-.356-.04-.767-.223-1.05C4.41 26.62 5 23.445 5.063 20.355c.03-1.33-.23-2.252-1.66-2.572-1.26-.28-1.705-1.335-1.88-2.413-.27-1.613-.564-3.246-.19-4.902.083-.376.1-.84-.04-1.184C.343 7.012.105 4.61.07 2.152.057 1.432.018.732.746.372 1.454.02 2.193.212 2.796.65c.916.663 1.668 1.494 2.213 2.506.96 1.79 2.41 2.562 4.35 2.13 1.21-.267 1.97-1.29 2.75-2.2.61-.728 1.05-1.613 2-2.028 1.09-.473 1.97-.244 2.33.887.74 2.325.59 4.657-.32 6.93-.12.294-.33.57-.38.874-.18.98 1.68 4.34 2.55 4.85 1.5.89 2.96 1.14 4.76.71 3.08-.73 6.25-.96 9.39.03.93.29 1.95.11 2.86.74 1.15.8 1.12 2.17 1.83 3.18 1.34 1.89 1.7 4.19 2.41 6.35 1.12 3.41 1.71 6.91 2.17 10.45.334 2.58.64 5.17.882 7.76.153 1.63-.05 1.79-1.7 1.77-.44-.007-.88-.03-1.313-.097-.924-.136-1.234-.574-.82-1.508.886-2.008.57-4.03-.203-5.96-.61-1.53-1.32-3.016-1.83-4.586-.47-1.453-1.683-2.32-2.754-3.27-.41-.375-.95-.26-1.15.337-.39 1.14-.72 2.25-.35 3.52.317 1.087.47 2.237.23 3.42-.24 1.17-.34 2.38-.424 3.58-.164 2.29-.947 3.01-3.18 2.85z" fill="#00FFC6" fill-rule="evenodd"/></svg>
        </div>
    </section>
    <div class="FooterMapHeader">Where in the World is @thepointsguy?</div>
    <section class="FooterMap">
        <img src="images/footer/bg-footer-mapflat.png" />
    </section>

</footer>