<!-- Guides Module -->

<section class="guide-module">
    <div class="section-header">
        <span>
            Guides
        </span>
    </div>

    <div class="guide-module-wrapper">
        <div class="article">
            <div class="timestamp">
                22 minutes ago
            </div>
            <img class="guide-module-image" src="images/deals-module1.jpg" alt="Deal FPO">
            <a href="#">New York to Amsterdam from $293 Round-trip</a>
        </div>
        <div class="article">
            <div class="timestamp">
                22 minutes ago
            </div>
            <img class="guide-module-image" src="images/deals-module1.jpg" alt="Deal FPO">
            <a href="#">New York to Amsterdam from $293 Round-trip</a>
        </div>
        <div class="article">
            <div class="timestamp">
                22 minutes ago
            </div>
            <img class="guide-module-image" src="images/deals-module1.jpg" alt="Deal FPO">
            <a href="#">New York to Amsterdam from $293 Round-trip</a>
        </div>
        <div class="more-link">
            <a href="#">All Deals</a>
        </div>
    </div>
</section>
