<!-- Guide Overlays -->

<section class="guide-overlays">
    <div class="bg-layer">
    </div>
    <div class="white-layer">
    </div>
    <div class="white-overlay">
    </div>
    <div class="color-overlay">
    </div>
</section>
