<!-- Guide Default header -->

<div class="article-header">
    <div class="label">
        Guide
    </div>

    <div class="title">
        The Guide to Sign-Up Bonuses
    </div>
    <div class="byline">
        by
        <span class="byline-photo">
            <img src="images/byline-photo.jpg" alt="byline FPO">
        </span>
        Sarah Silbert
    </div>
    <div class="timestamp">
        Today at 12:14PM
    </div>
    <div class="meta">
        {% include 'components/share-icons.twig'%}
    </div>
</div>
