<!-- Guide Content -->

<div class="guide-content-wrapper">
<section class="guide-content">
    <div class="guide-preamble">
        To vacation without spending anything on flights you need three basic things: a rewards program, a credit card, and the ability to put about a thousand dollars a month on that card. After that, it’s all in the details. Here’s how to get started.
    </div>

    {% if isGuideDefault %}

    {% else %}
        <h1 class="step-title">
            <span class="step-number">
                1
            </span>
            <span>
                Pick a Loyalty Program
            </span>
        </h1>

        <h5>
            This is free, takes seconds, and you should do it for every airline you fly.
        </h5>
    {% endif %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

{#     {% include 'components/widgets/which-airline-should-you-fly.twig' with
        {
            class: 'full'
        }
    %} #}

    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

    {% include 'components/widgets/whats-possible-with-points.twig' with
        {
            class: 'inset right'
        }
    %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

    {% if isGuideDefault %}

    {% else %}
        <h1 class="step-title" id="choose-a-powerful-card">
            <span class="step-number">
                2
            </span>
            <span>
                Choose a Powerful Card
            </span>
        </h1>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea.
        </h5>
    {% endif %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

    {% include "components/card-pick.twig" with
        {
            class: 'left triggerable',
            title: 'Our favorite for most people',
            cardtitle: 'Alaska Airlines<br>Visa Signature Card',
            cardimg: '<img src="images/cc_alaska.png" alt="Alaska Airlines Signature Card" >',
            endorsement: 'One of the best kept secrets in transferrable miles. Even if you never fly to Alaska, these miles can be used with a dozen major airlines.',
            keystats: '30k bonus miles on sign-up if you spend $1,000 in the first 90 days - $75 annual fee',
            url: 'AlaskaAirlines.com',
            related: 'ALASKA AIRLINES VISA SIGNATURE CARD | THE TPG GUIDE'
        }
    %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

    {% include "components/card-pick.twig" with
        {
            class: 'right',
            title: 'A great business card',
            cardtitle: 'Citi AAdvantage Platinum Select MasterCard',
            cardimg: '<img src="images/cc_aadvantage.png" alt="Alaska Airlines Signature Card" >',
            endorsement: 'Solid rewards on flights purchased through American Airlines. And the card will pay for itself if you check two bags per year.',
            keystats: '30k bonus miles on sign-up if you spend $1,000 in the first 90 days.  $95 annual fee',
            url: 'CitiBank.com',
            related: 'Citi AAdvantage Platinum Select MasterCard | THE TPG GUIDE'
        }
    %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

    {% include "components/card-pick.twig" with
        {
            class: 'left',
            title: 'If you want to fly domestic',
            cardtitle: 'Citi AAdvantage Executive World Elite MasterCard',
            cardimg: '<img src="images/cc_executive.png" alt="Alaska Airlines Signature Card" >',
            endorsement: 'If you can stomach the hefty fee, you can earn 10k elite-qualifying miles by spending $40,000 in a calendar year.',
            keystats: '60k bonus miles on sign-up if you spend $3,000 in the first three months.  $495 annual fee',
            url: 'CitiBank.com',
            related: 'Citi AAdvantage Executive World Elite MasterCard | THE TPG GUIDE'
        }
    %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

    {% if isGuideDefault %}

    {% else %}
        <h1 class="step-title" id="get-bonuses-and-earn-points">
            <span class="step-number">
                3
            </span>
            <span>
                Get Bonuses &amp; Earn Points
            </span>
        </h1>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea.
        </h5>
    {% endif %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>
    <blockquote>
        <div class="quote">
            The first lesson to learn here is that transferrable points are worth far, far more than regular points
        </div>
    </blockquote>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>

    {% if isGuideDefault %}

    {% else %}
        <h1 class="step-title" id="find-deals-and-fly-for-free">
            <span class="step-number">
                4
            </span>
            <span>
                Find Deals &amp; Fly for Free
            </span>
        </h1>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea.
        </h5>
    {% endif %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin aliud quid voles, postea. Quamquam id quidem, infinitum est in hac urbe; Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. Fortasse id optimum, sed ubi illud: Plus semper voluptatis?
    </p>
    <p>
        Sed ille, ut dixi, vitiose. Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum memoria. Quod autem satis est, eo quicquid accessit, nimium est; Ita relinquet duas, de quibus etiam atque etiam consideret. At multis malis affectus. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Vide, quantum, inquam, fallare, Torquate. Non risu potius quam oratione eiciendum? Nescio quo modo praetervolavit oratio. Num igitur eum postea censes anxio animo aut sollicito fuisse?
    </p>
</section>
</div>

{% include "components/javascript-guide.twig" %}

{% include "components/comments.twig" %}

{% include 'components/related-links-guide.twig' with
    {
        header: 'WHAT TO READ NEXT',
    }
%}
