<section class="guide-subheader">
    <div class="guide-title">
        <span>
            In This Guide
        </span>
    </div>
    <div class="guide-steps">
        <ol>
            <li>
                <a href="#pick-a-loyalty-program">
                    Pick a<br>
                    Loyalty Program
                </a>
            </li>
            <li>
                <a href="#choose-a-powerful-card">
                    Choose a<br>
                    Powerful Card
                </a>
            </li>
            <li>
                <a href="#get-bonuses-and-earn-points">
                    Get Bonuses<br>
                    &amp; Earn Points
                </a>
            </li>
            <li>
                <a href="#find-deals-and-fly-for-free">
                    Find Deals<br>
                    &amp; Fly for Free
                </a>
            </li>
        </ol>
    </div>
</section>
