<!-- Home CTAs -->

<section class="home-ctas">

    {% include 'components/home-cta.twig' with
        {
            id: "cta1",
            imgPath: "images/nav-image-1.jpg",
            title: "The Beginner's Guide: Knowing more than you do",
            authorName: "Craig Scrimbler",
            commentsNumber: "12"
        }
    %}

    {% include 'components/home-cta.twig' with
        {
            id: "cta2",
            imgPath: "images/nav-image-2.jpg",
            title: "The Beginner's Guide: Knowing more than you do",
            authorName: "Craig Scrimbler",
            commentsNumber: "12"
        }
    %}

    {% include 'components/home-cta.twig' with
        {
            id: "cta3",
            imgPath: "images/nav-image-3.jpg",
            title: "The Beginner's Guide: Knowing more than you do",
            authorName: "Craig Scrimbler",
            commentsNumber: "12"
        }
    %}

</section>

