<!-- Hub 50-50 -->

<section class="hub-50-50">
    <div class="hub-50-50-wrapper">
        {% include 'components/points-valuation-single.twig' %}
        {% include 'components/airlines-icons.twig' %}
    </div>
</section>
