<!-- Home Content -->

<div class="content">

    {% include 'components/hub-hero-tag.twig' %}

    {% include 'components/featured-posts.twig' %}

    {% include 'components/favorite-cards-tag-module.twig' %}


    {% include 'components/articles-feed.twig' with
        {

        }
    %}

    {% include 'components/two-one-container.twig' with
        {

        }
    %}

</div>
