<!-- Individual Card - Tag -->

<div class="individual-card">
    <div class="card-img">
        {{cardDom|raw}}
        <div class="shadow-layer">
        </div>
    </div>
    <div class="meta">
        <div class="card-title">
            {{cardTitle}}
        </div>
        <div class="offer-title">
            Current Offer
        </div>
        <div class="offer">
            {{offerAmount}}
        </div>
        {% if hasBadges %}
            <div class="badges">
                <div class="badge">
                    <div class="badge-meta">
                        <svg version="1.1" id="dining-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 79.1 85" style="enable-background:new 0 0 79.1 85;" xml:space="preserve">
                            <path class="cls-1" d="M0.5,14.3L17.1,34l0,0L0.5,14.3c0.5-0.4,1.8-0.6,2.8,0.6l15.9,17.4l4.2-3.6L8.9,10.1C7.9,9,8.3,7.7,8.8,7.3L25.4,27l0,0
                            L8.8,7.3c0.5-0.4,1.8-0.6,2.8,0.6l15.9,17.4l4.2-3.6L17.2,3.1c-1-1.1-0.6-2.4-0.1-2.8L33.7,20l0,0L17.1,0.3c0.5-0.4,1.8-0.6,2.8,0.6
                            l15.9,17.4l0,0c3.7,4.3,4.2,10.3,1.8,15.1c-0.8,1.6-0.1,2.7,0.1,2.9l36.4,40.8c1.6,1.8,1.4,4.7-0.4,6.2L72.9,84
                            c-1.9,1.6-4.7,1.3-6.2-0.6L32.6,40.9l0,0c0,0-0.9-1.3-2.9-0.6l0,0c-0.1,0-0.2,0-0.3,0.1l0,0c-5,1.4-10.6-0.1-14.1-4.3
                            c0,0,0,0-0.1-0.1L0.7,17.4C-0.4,16,0,14.7,0.5,14.3z M11.9,76.8c-1.6,1.8-1.5,4.7,0.4,6.3l0.8,0.7c1.9,1.6,4.7,1.3,6.2-0.6l21.1-26
                            l-5.1-6.4L11.9,76.8z M67.6,35.6c9.7-11.4,14.1-23.5,9.9-27.2l0,0c-2.4-1.9-7.4,2.6-9.1,4.6L51.8,32.4l-2.5,3h-0.1L46,38.9l7.4,8.3
                            C58.2,44.4,63.6,40.2,67.6,35.6z"/>
                        </svg>
                        <span>
                            Dining
                        </span>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-meta">
                        <svg version="1.1" id="travel-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 90 77.8" style="enable-background:new 0 0 90 77.8;" xml:space="preserve">
                            <g>
                                <path class="cls-1" d="M11.8,12.6H8.7c-4.8,0-8.7,3.9-8.7,8.7v1.6v2.8v43.5c0,4.8,3.9,8.7,8.7,8.7h3.1V12.6z"/>
                                <path class="cls-1" d="M81.3,12.6h-3.1v65.2h3.1c4.8,0,8.7-3.9,8.7-8.7V25.6v-2.8v-1.6C90,16.5,86.1,12.6,81.3,12.6z"/>
                                <path class="cls-1" d="M15.9,77.8h58.2V12.6H63V4.4C63,1.9,61.1,0,58.7,0H29.6c-2.4,0-4.3,1.9-4.3,4.4v8.2h-9.3L15.9,77.8L15.9,77.8z M28.5,4.4
                                    c0-0.6,0.5-1.1,1.1-1.1h29.1c0.6,0,1.1,0.5,1.1,1.1v8.2H28.5V4.4z"/>
                            </g>
                        </svg>
                        <span>
                            Travel
                        </span>
                    </div>
                </div>
            </div>
        {% else %}

        {% endif %}


        {% include 'components/i-have-this-card.twig' %}
    </div>
</div>
