<!-- Invididual Article -->

<div class="article">
    {{imgRaw|raw}}
    <div class="link">
        <div class="label stripped">
            {{label}}
        </div>
        <a href="#">What Are Points & Miles Worth? July Monthly Valuations</a>
        <div class="timestamp">
            {{timestamp}}
        </div>
    </div>
    <span class="share-count">{{shareCount}} shares</span>
    <!-- We're using the language "shares" here. Could be "likes" as well, depending on what you can grab from the API. Our preference is "shares". -->
</div>
