<!-- Individual Card -->

<div class="individual-card">
    <div class="card-img-macro">
        <div class="card-img">
            {{imageUrl|raw}}
        </div>
    </div>
    <div class="meta">
        <div class="card-title">
            {{title}}
        </div>
    </div>
</div>
