<!-- Inline Image -->

<div class="inline-img">
    <img class="full" src="images/{{filename}}" alt="inline image FPO">
    <svg id="gallery-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.78 20.35">
        <title>gallery-icon</title>
        <rect class="cls-1" y="9.38" width="19.5" height="10.97"/>
        <path class="cls-1" d="M26.78,3V14H7.28V3h19.5m3-3H4.28V17h25.5V0h0Z"/>
    </svg>
    <div class="caption-macro">
        <div class="caption">
            {{caption}}
        </div>
        <div class="photo-credit">
            <svg id="camera-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10">
                <title>camera-icon</title>
                <path class="st0" d="M1,0V1H0v9H16V0H6V1H3V0H1Zm9.09,1h0.81L11,1.09V1.91L10.91,2H10.09L10,1.91V1.09Zm2,0h1.81L14,1.09V1.91L13.91,2H12.09L12,1.91V1.09ZM9,3a3,3,0,0,1,3,3A3,3,0,0,1,9,9,3.07,3.07,0,0,1,6.19,7H5A0.94,0.94,0,0,1,4,6,0.94,0.94,0,0,1,5,5H6.19A3.07,3.07,0,0,1,9,3ZM9,4a2,2,0,1,0,2,2A2,2,0,0,0,9,4Z"/>
            </svg>
            &nbsp;:&nbsp;
            <span>
                {{credit}}
            </span>
        </div>
    </div>
</div>
