<!-- Insta module -->
{% include 'components/section-header.twig' with
    {
        title: "The Points guy's latest updates"
    }
%}
<section class="insta-module">
    <div class="insta-module-wrapper">
        <div class="insta-blocks">
            <a href="https://www.instagram.com/p/BIbJnh6BhRr/?taken-by=thepointsguy" class="insta-block">
                <img src="images/insta1.jpg" alt="Instagram FPO">
                <div class="overlay">
                </div>
                <div class="geotag">
                    <svg id="location-pin-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.76 87.02">
                        <title>Location Pin Icon</title>
                        <path class="cls-1" d="M63.76,32.09A31.88,31.88,0,1,0,15.82,59.41L31.51,87,47.57,59.62A31.86,31.86,0,0,0,63.76,32.09ZM31.94,22.15a9.73,9.73,0,1,1-9.8,9.67A9.73,9.73,0,0,1,31.94,22.15Z"/>
                    </svg>
                    <div class="location-title">
                        San Francisco International Airport (SFO)
                    </div>
                </div>
            </a>
            <a href="https://www.instagram.com/p/BIarw2FB_KZ/?taken-by=thepointsguy" class="insta-block">
                <img src="images/insta2.jpg" alt="Instagram FPO">
                <div class="overlay">
                </div>
                <div class="geotag">
                    <svg id="location-pin-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.76 87.02">
                        <title>Location Pin Icon</title>
                        <path class="cls-1" d="M63.76,32.09A31.88,31.88,0,1,0,15.82,59.41L31.51,87,47.57,59.62A31.86,31.86,0,0,0,63.76,32.09ZM31.94,22.15a9.73,9.73,0,1,1-9.8,9.67A9.73,9.73,0,0,1,31.94,22.15Z"/>
                    </svg>
                    <div class="location-title">
                        Google HQ, Mountain View, CA
                    </div>
                </div>
            </a>
            <a href="https://www.instagram.com/p/BIY1QLkhf6Z/?taken-by=thepointsguy" class="insta-block">
                <img src="images/insta3.jpg" alt="Instagram FPO">
                <div class="overlay">
                </div>
                <div class="geotag">
                    <svg id="location-pin-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.76 87.02">
                        <title>Location Pin Icon</title>
                        <path class="cls-1" d="M63.76,32.09A31.88,31.88,0,1,0,15.82,59.41L31.51,87,47.57,59.62A31.86,31.86,0,0,0,63.76,32.09ZM31.94,22.15a9.73,9.73,0,1,1-9.8,9.67A9.73,9.73,0,0,1,31.94,22.15Z"/>
                    </svg>
                    <div class="location-title">
                        Quixote Studios
                    </div>
                </div>
            </a>
            <a href="https://www.instagram.com/p/BIYyapWhK0c/?taken-by=thepointsguy" class="insta-block">
                <img src="images/insta4.jpg" alt="Instagram FPO">
                <div class="overlay">
                </div>
                <div class="geotag">
                    <svg id="location-pin-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.76 87.02">
                        <title>Location Pin Icon</title>
                        <path class="cls-1" d="M63.76,32.09A31.88,31.88,0,1,0,15.82,59.41L31.51,87,47.57,59.62A31.86,31.86,0,0,0,63.76,32.09ZM31.94,22.15a9.73,9.73,0,1,1-9.8,9.67A9.73,9.73,0,0,1,31.94,22.15Z"/>
                    </svg>
                    <div class="location-title">
                        Quixote Studios
                    </div>
                </div>
            </a>
            <a href="https://www.instagram.com/p/BIWbRdsBfxY/?taken-by=thepointsguy" class="insta-block">
                <img src="images/insta5.jpg" alt="Instagram FPO">
                <div class="overlay">
                </div>
                <div class="geotag">
                    <svg id="location-pin-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.76 87.02">
                        <title>Location Pin Icon</title>
                        <path class="cls-1" d="M63.76,32.09A31.88,31.88,0,1,0,15.82,59.41L31.51,87,47.57,59.62A31.86,31.86,0,0,0,63.76,32.09ZM31.94,22.15a9.73,9.73,0,1,1-9.8,9.67A9.73,9.73,0,0,1,31.94,22.15Z"/>
                    </svg>
                    <div class="location-title">
                        Quixote Studios
                    </div>
                </div>
            </a>
            <a href="https://www.instagram.com/p/BIVFeiwh0cO/?taken-by=thepointsguy" class="insta-block">
                <img src="images/insta6.jpg" alt="Instagram FPO">
                <div class="overlay">
                </div>
                <div class="geotag">
                    <svg id="location-pin-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.76 87.02">
                        <title>Location Pin Icon</title>
                        <path class="cls-1" d="M63.76,32.09A31.88,31.88,0,1,0,15.82,59.41L31.51,87,47.57,59.62A31.86,31.86,0,0,0,63.76,32.09ZM31.94,22.15a9.73,9.73,0,1,1-9.8,9.67A9.73,9.73,0,0,1,31.94,22.15Z"/>
                    </svg>
                    <div class="location-title">
                        San Francisco International Airport (SFO)
                    </div>
                </div>
            </a>
            <a href="https://www.instagram.com/p/BIThbMaBQla/?taken-by=thepointsguy" class="insta-block">
                <img src="images/insta7.jpg" alt="Instagram FPO">
                <div class="overlay">
                </div>
                <div class="geotag">
                    <svg id="location-pin-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.76 87.02">
                        <title>Location Pin Icon</title>
                        <path class="cls-1" d="M63.76,32.09A31.88,31.88,0,1,0,15.82,59.41L31.51,87,47.57,59.62A31.86,31.86,0,0,0,63.76,32.09ZM31.94,22.15a9.73,9.73,0,1,1-9.8,9.67A9.73,9.73,0,0,1,31.94,22.15Z"/>
                    </svg>
                    <div class="location-title">
                        Auckland, New Zealand
                    </div>
                </div>
            </a>
        </div>
        <div class="follow-meta">
            <div class="follow-meta-wrapper">
                <div class="intro">
                    <div class="brian-profile-img">
                        <img src="images/brian-profile.jpg" alt="Brian Profile FPO">
                    </div>
                    <div class="name-handle">
                        <span class="name">
                            Brian Kelly
                        </span>
                        <span class="handle">
                            <a href="#">@thepointsguy</a>
                        </span>
                    </div>
                </div>
                <div class="quick-description">
                    Travelling the world in first class for (almost) free using miles points
                </div>
                <div class="button apply follow">
                    <svg version="1.1" id="instagram-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                        <g>
                            <g id="post-instagram">
                                <path class="cls-1" d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z
                                     M255,153c56.1,0,102,45.9,102,102c0,56.1-45.9,102-102,102c-56.1,0-102-45.9-102-102C153,198.9,198.9,153,255,153z M63.75,459
                                    C56.1,459,51,453.9,51,446.25V229.5h53.55C102,237.15,102,247.35,102,255c0,84.15,68.85,153,153,153c84.15,0,153-68.85,153-153
                                    c0-7.65,0-17.85-2.55-25.5H459v216.75c0,7.65-5.1,12.75-12.75,12.75H63.75z M459,114.75c0,7.65-5.1,12.75-12.75,12.75h-51
                                    c-7.65,0-12.75-5.1-12.75-12.75v-51c0-7.65,5.1-12.75,12.75-12.75h51C453.9,51,459,56.1,459,63.75V114.75z"/>
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg><!--
                    --><span>
                        Follow
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
