<!-- Javascript -->

<section class="javascript">
    <div class="title">
        The Bottom Line
    </div>
    <div class="header">
        Our All-Around Favorite for Summer Travel
    </div>
    <div class="sub-header">
        Chase Sapphire Preferred Card
    </div>
    <div class="summary-wrapper">
        <div class="summary">
            There’s really no reason not to have this card in your wallet. You’ll earn double points on travel and dining, and redeeming those points is extremely flexible, through partnerships with six major airlines. If you’re getting one card, get this. <a href="#">Check out our full review.</a>
        </div>
        <div class="card-img">
            <img src="images/chase-card.png" alt="Chase Sapphire Preferred Card">
        </div>
    </div>
    <button class="apply">
        Apply at Chase.com
    </button>
    {% include 'components/i-have-this-card.twig' %}
    <div class="more-things-to-know">
        <div class="overlay">
        </div>
        <div class="sub-header">
            More Things to Know
        </div>
        <ul>
            <li>
                Earn 50,000 bonus points when you spend $4,000 on purchases in the first 3 months from account opening. That's $625 in travel when you redeem through Chase Ultimate Rewards®
            </li>
            <li>
                $0 foreign transaction fees, plus chip-enabled for enhanced security and wider acceptance when used at a chip card reader
            </li>
            <li>
                Named a 'Best Credit Card' for Travel Rewards by MONEY Magazine
            </li>
            <li>
                1:1 point transfer to leading frequent travel programs at full value — that means 1,000 Chase Ultimate Rewards points equal 1,000 partner miles/points
            </li>
            <li>
                2X points on travel and dining at restaurants & 1 point per dollar spent on all other purchases
            </li>
            <li>
                Travel confidently with premium Travel Protection Benefits, including Trip Cancellation/ Trip Interruption Insurance, Auto Rental Collision Damage Waiver, Trip Delay Reimbursement and more
            </li>
            <li>
                Sleek metal card design
            </li>
            <li>
                Earn 5,000 bonus points after you add the first authorized user and make a purchase in the first 3 months from account opening
            </li>
        </ul>
        <div class="terms">
            <div class="term">
                <div class="sub-header">
                    Intro&nbsp;Apr
                </div>
                <div class="description">
                    N/A
                </div>
            </div>
            <div class="term">
                <div class="sub-header">
                    Regular&nbsp;Apr
                </div>
                <div class="description">
                    16.24%-23.24% Variable
                </div>
            </div>
            <div class="term">
                <div class="sub-header">
                    Annual&nbsp;Fee
                </div>
                <div class="description">
                    Introductory Annual Fee of $0 the first year, then $95
                </div>
            </div>
            <div class="term">
                <div class="sub-header">
                    Balance&nbsp;Transfer
                </div>
                <div class="description">
                    See Terms
                </div>
            </div>
            <div class="term">
                <div class="sub-header">
                    Credit&nbsp;Rating
                </div>
                <div class="description">
                    Excellent Credit
                </div>
            </div>
        </div>
    </div>
    <div class="carat-trigger">
    </div>
</section>
