    <!--
        Launch with any tag via the 'modal-launch-img' attribute/path
    <div class="modal-link" modal-launch-img="images/inline-photo-fpo.jpg">Launch a modal</div>
    -->
    <script type="text/template" id="modal-template">
    <div class="modal">
        <div class="modal-overlay" modal-destroy></div>
        <div class="modal-close" modal-destroy>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.4 42.4"><path class="cls-1" d="M0 39.6L39.6 0l2.8 2.8L2.8 42.4z"/><path class="cls-1" d="M2.8 0l39.6 39.6-2.8 2.8L0 2.8z"/></svg>
        </div>
        <div class="modal-window">
            <div class="modal-core">
                <h1>This is the modal</h1>
                <img src="images/add-card_02.png">
            </div>
        </div>
    </div>
    </script>
