<!-- Newsletter Module -->

<section class="newsletter-module">
	<div class="header">
		<svg version="1.1" id="envelope-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 83 60" enable-background="new 0 0 83 60" xml:space="preserve">
			<path class="cls-1" d="M2,2v56h4h71h4V2H2z M74.3,6L41.5,38.8L8.7,6H74.3z M77,54H6V8.9
			l35.5,35.5l0,0l0,0L77,8.9V54z"/>
		</svg>
		<span>
			{% if isHubTag %}
				We'll send you <br>
				the latest.
			{% else %}
				Have this card? <br>
				Stay up to date.
			{% endif %}
		</span>
	</div>
	<div class="sub-header">
		Get a customized newsletter with points strategies, deal alerts, and more.
	</div>
	<div class="newsletter-input">
		<input type="text" name="newsletter">
		<button>
			Sign up
		</button>
	</div>
</section>
