<!-- Points Valuation Single -->

<section class="points-valuation-single">
    <div class="points-valuation-single-wrapper">
        <div class="section-header">
            How Much are its <br>
            Points Worth?
        </div>
        <div class="points-meta">
            <div class="points-title">
                Chase Ultimate <br>
                Rewards
            </div>
            <div class="points-value">
                <span class="carat up">
                    &nbsp;
                </span>
                <span class="value">
                    2.5¢
                </span>
            </div>
        </div>
        <div class="footer-meta">
            <div class="method">
                <a href="#">How we estimate</a>
            </div>
            {% include 'components/more-link.twig' with
                {
                    linkTarget: "#",
                    linkText: "See the full list for July"
                }
            %}
        </div>
    </div>
</section>
