<!-- Reader Story Large -->

<section class="reader-story-large">

    <div class="reader-story-large-wrapper">

        {% include 'components/section-header.twig' with
            {
                title: "Reader Story"
            }
        %}

        <div class="reader-story-large-header">
            <div class="bg-image">
                <div class="overlay">
                </div>
                {# <img src="images/reader-story-bg.jpg" alt="Reader story bg FPO"> #}
                <blockquote>
                    <div class="quote">
                        “When you get that ticket in your hand and only spent twenty bucks, it's unlike any other feeling.”
                    </div>
                </blockquote>
            </div>

            <div class="flag">
            </div>
            <div class="refresh">
                <span>
                    See another
                </span>
                <svg id="refresh-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.25 43.18">
                    <title>Refresh Icon</title>
                    <path class="cls-1" d="M33.75,25.05A15.63,15.63,0,1,1,18.13,9.43"/>
                    <polygon class="cls-2" points="29.13 9.43 17.29 18.86 17.29 0 29.13 9.43"/>
                </svg>
            </div>
        </div>

        <div class="reader-story-large-footer">

            <div class="deal-meta">
                <div class="depart">
                    Chicago to
                </div>
                <div class="location">
                    Chiang Rai, Thailand
                </div>
                <div class="cost">
                    65k Miles + $23.02
                </div>
                <div class="more-link">
                    <a href="">Reader Guide: How he did it</a>
                </div>
            </div>

            <div class="person-meta">
                <div class="person-image">
                    <img src="images/will-mercer.jpg" alt="Will Mercer FPO">
                </div>
                <div class="name">
                    Will Mercer
                </div>
                <div class="role">
                    TPG reader
                </div>
            </div>

            <div class="card-meta">
                <div class="used">
                    Will used the
                </div>
                <div class="card-wrapper">
                    <div class="card-title">
                        Chase Sapphire<br>
                        Preferred Card
                    </div>
                    <div class="card-image">
                        <img src="images/chase-card.png" alt="Chase FPO">
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
