<!-- Related links -->

<section class="related-links">
    <div class="related-header">
        <span>
            {{header}}
        </span>
    </div>
    <div class="related-link">
        <img src="images/related1.jpg" alt="">
        <div class="meta">
            <div class="label">
                Guide
            </div>
            <div class="title">
                Maximize your credit score
            </div>
            <div class="timestamp">
                Yesterday
            </div>
        </div>
    </div>
    <div class="related-link">
        <img src="images/related2.jpg" alt="">
        <div class="meta">
            <div class="label">
                Q&amp;A
            </div>
            <div class="title">
                How many cards can I get?
            </div>
            <div class="timestamp">
                3 days ago
            </div>
        </div>
    </div>
    <div class="related-link">
        <img src="images/related3.jpg" alt="">
        <div class="meta">
            <div class="label">
                Round-up
            </div>
            <div class="title">
                The 25 best places to travel in 2016
            </div>
            <div class="timestamp">
                June 2nd, 2016
            </div>
        </div>
    </div>
</section>
