<!-- Related links -->

<section class="related-links">
    <div class="related-header">
        <span>
            More from The Points Guy
        </span>
    </div>
    <div class="related-link">
        <img src="images/related1.jpg" alt="">
        <div class="meta">
            <div class="label">
                Ranking
            </div>
            <div class="title">
                Chase Transfer Partners, from Best to Worst
            </div>
            <div class="timestamp">
                Yesterday
            </div>
        </div>
    </div>
    <div class="related-link">
        <img src="images/related2.jpg" alt="">
        <div class="meta">
            <div class="label">
                Guide
            </div>
            <div class="title">
                The Best Cards for Business Travelers
            </div>
            <div class="timestamp">
                3 days ago
            </div>
        </div>
    </div>
    <div class="related-link">
        <img src="images/related3.jpg" alt="">
        <div class="meta">
            <div class="label">
                Round-up
            </div>
            <div class="title">
                The 5 Best Visa Cards for Costco Purchases, Bookable Flights to Cuba and More
            </div>
            <div class="timestamp">
                June 2nd, 2016
            </div>
        </div>
    </div>
{#     <div class="related-link">
        <img src="images/related4.jpg" alt="">
        <div class="meta">
            <div class="label">
                TPGtv
            </div>
            <div class="title">
                The Park Hyatt Saigon And My Acting Debut
            </div>
            <div class="timestamp">
                5 days ago
            </div>
        </div>
    </div>
    <div class="related-link">
        <img src="images/related5.jpg" alt="">
        <div class="meta">
            <div class="label">
                TPGtv
            </div>
            <div class="title">
                Cruising Around Ha Long Bay’s 2,000 Islands in Vietnam
            </div>
            <div class="timestamp">
                June 6th, 2016
            </div>
        </div>
    </div> #}

</section>
