<!-- Review article content -->
<section class="article-content">
    <div class="article-wrapper">
        {% include "components/review-article-header.twig" %}
        {% include "components/review-article-body-content.twig" %}
    </div>
</section>
{# {% include "components/sidebar-video.twig" %} #}

