<!-- Article body content -->

<div class="article-body-content">
    {% include 'components/editorial-disclosure.twig' %}

    {% include 'components/gallery-module.twig' %}

    {% include 'components/inline-img.twig' with
        {
            filename: 'inline-photo-01.png',
            caption: 'This is an airplane.',
            credit: 'Jan Warner/The Points Guy'
        }
    %}

{#     {% if isTOC %}
        {% include 'components/widgets/toc.twig' with
            {
                class: "right"
            }
        %}
    {% endif %} #}

    <p>
        With most schools on break and warm weather to enjoy at many destinations, summer is a great time to travel. It’s also, unfortunately, the peak season — and that means higher prices for hotels, flights, car rentals and other related expenses. Luckily, there are <a href="">plenty of travel rewards</a> cards that can help you keep costs down thanks to their lucrative sign-up bonuses, not to mention other benefits that make your trip more enjoyable. Over the next few weeks we’ll be looking at the top cards based on your travel plans, starting with the best options for flying today.
    </p>

    {% if isTOC %}
    {% else %}
        {% include 'components/widgets/our-favorite-cards.twig' with
            {
                class: "inset right"
            }
        %}
    {% endif %}

    <p>
        To show you just how lucrative these sign-up bonuses can be, below I’ll run through 10 cards with offers that equate to $500 or more in value. (As you’ll see, some get you more than double that amount.) All values are calculated based on my latest valuations, and I subtracted the annual fee from the points/miles valuation if the card charges it within the first year.
    </p>

    {% if isTOC %}
        {% include 'components/widgets/toc.twig' %}
    {% endif %}

    {% if isTOC %}
        {% include 'components/chapter-title.twig' with
            {
                slug: "booking",
                number: "1",
                title: "The Booking Process"
            }
        %}
    {% else %}
    {% endif %}


    <!-- Article block -->
    <p>
        If you’re planning on flying <a href="">Alaska Airlines</a> to Hawaii or any other destination this summer, this card could be a good option. It’s currently offering a sign-up bonus of 30,000 miles (enough for a round-trip economy award within the US) after you spend $1,000 in the first 90 days. You’ll earn 3 miles on eligible Alaska Airlines purchases, and 1 mile per dollar on everything else.
    </p>

    {% if isTOC %}
    {% else %}
        {% include 'components/inline-img.twig' with
            {
                filename: 'inline-photo-02.png',
                caption: 'This too, is an airplane.',
                credit: 'Jan Warner/The Points Guy'
            }
        %}
    {% endif %}

    <p>
        Cardholders also get an annual round-trip coach companion fare, which lets a friend or family member travel with you for free (you’ll need to pay $121 and up in taxes and fees). You can even pair this perk with a status match to Alaska Mileage Plan MVP Gold 75k to get guest upgrades and bump these companion fares up to first class, as TPG Editor-in-Chief Zach Honig did last year. This card has a $75 annual fee, and no foreign transaction fees.
    </p>

    {% if isTOC %}
        {% include 'components/chapter-title.twig' with
            {
                slug: "check-in",
                number: "2",
                title: "A Streamlined Mobile-Friendly Check-in"
            }
        %}
    {% else %}
    {% endif %}

    <p>
        Finally, keep in mind that you can get significantly more value from several of these cards if you maximize certain benefits. For example, if you use the Southwest Rapid Rewards Premier Card to earn the Companion Pass and get virtually free travel for one of your friends or family members, the value will far surpass the $651 you’ll get from the sign-up bonus. And while the 10,000 MQMs you’ll earn as part of the sign-up offer for the Platinum Delta SkyMiles Credit Card aren’t factored into the $525 valuation listed below, those MQMs and any additional ones you earn by meeting certain spending thresholds help you get Delta elite status, which we value at $790-$6,820 depending on the tier.
    </p>

    {% if isTOC %}
        {% include 'components/widgets/our-favorite-cards.twig' with
            {
                class: "inset left"
            }
        %}
    {% else %}
    {% endif %}

    {% if isTOC %}
    {% else %}
        {% include 'components/inline-img.twig' with
            {
                filename: 'inline-photo-03.png',
                caption: 'Inside of airplane.',
                credit: 'Jan Warner/The Points Guy'
            }
        %}
    {% endif %}

    <p>
        If you’ve spent any time on this site or are at all interested in the points and miles hobby, you know that credit card sign-up bonuses are a great way to quickly earn points or miles that can be used toward flight, hotel and other travel redemptions. However, not all rewards currencies are created equal — which is why I created my monthly valuations series to pin down an exact worth in cents for the points and miles used by the major travel loyalty programs.
    </p>

    <p>
        To show you just how lucrative these sign-up bonuses can be, below I’ll run through 10 cards with offers that equate to $500 or more in value. (As you’ll see, some get you more than double that amount.) All values are calculated based on my latest valuations, and I subtracted the annual fee from the points/miles valuation if the card charges it within the first year.
    </p>

    {% include "components/javascript.twig" %}

    {% include 'components/share-icons.twig' with
        {
            class: 'article-footer',
            isArticleFooter: true
        }
    %}

    {% include "components/comments.twig" %}

{#     {% if isTOC %}
        {% include 'components/toc-trigger.twig' %}
    {% else %}

    {% endif %} #}
</div>


