<!-- Horizontal Articles -->

<section class="horizontal-articles">

    <div class="horizontal-articles-wrapper">
        <!-- 2/3 content -->
        <div class="horizontal-articles-macro left">
            <div class="articles">

                <div class="article">
                    <div class="card-img">
                        <div class="img-macro">
                            <img src="images/cards/chase-sapphire-reserve.jpg"/>
                        </div>
                    </div>
                    <div class="link">
                        <a href="#">Chase Sapphire Reserve Card</a>
                    </div>
                </div>

                <div class="article">
                    <div class="card-img">
                        <div class="img-macro">
                            <img src="images/cards/01.png"/>
                        </div>
                    </div>
                    <div class="link">
                        <a href="#">Chase Sapphire Preferred Card</a>
                    </div>
                </div>

                <div class="article">
                    <div class="card-img">
                        <div class="img-macro">
                            <img src="images/cards/10.png"/>
                        </div>
                    </div>
                    <div class="link">
                        <a href="#">AAdvantage Card</a>
                    </div>
                </div>

                <div class="article">
                    <div class="card-img">
                        <div class="img-macro">
                            <img src="images/jetblue-card.png"/>
                        </div>
                    </div>
                    <div class="link">
                        <a href="#">JetBlue Plus Card</a>
                    </div>
                </div>

                <div class="article">
                    <div class="card-img">
                        <div class="img-macro">
                            <img src="images/cards/02.png"/>
                        </div>
                    </div>
                    <div class="link">
                        <a href="#">American Express Platinum Card</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
