<!-- Search Results Step 3 -->
<div class="search-step-3" sort="important">

    <section class="search-filters">
        <div class="search-results-order">
            <a href="#" class="selected" sort-trigger="important">MOST IMPORTANT</a><a href="#" sort-trigger="recent">MOST RECENT</a>
        </div>
        <div class="search-results-type">
            <form>
                <select>
                    <option>All Types</option>
                </select>
            </form>
        </div>
    </section>

    <section class="search-tally">
        We found <b>43</b> results
    </section>

    <section class="search-results top-results">
        <div class="search-header">
            Top Results
        </div>

        <article class="search-result-full">
            <div class="img">
                <a href="#"><img src="images/search/three-result-1.png" alt=""></a>
            </div>
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Guide
                    </div>
                    <div class="title">
                        <a href="#">TPG Guide to the Chase Sapphire Reserve</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/brian.png" alt="">The Points Guy</a>
                        <time>yesterday</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">169 Comments</a>
                </div>
            </div>
        </article>

        <article class="search-result-full">
            <div class="img">
                <a href="#"><img src="images/search/three-result-2.png" alt=""></a>
            </div>
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Review
                    </div>
                    <div class="title">
                        <a href="#">Chase Sapphire Reserve: Our Full Review</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/amanda-hester.png" alt="">Amanda Hester</a>
                        <time>yesterday</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">843 Comments</a>
                </div>
            </div>
        </article>

    </section>

    <section class="search-results all-results">
        <div class="search-header">
            Everything we found for "Chase Sapphire Reserve”
        </div>

        <article class="search-result-full">
{#             <div class="img">
                <a href="#"><img src="images/search/three-result-1.png" alt=""></a>
            </div> #}
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Q&amp;A
                    </div>
                    <div class="title">
                        <a href="#">Why Chase Sapphire Reserve’s Annual Credit is Far Better Than the Competition</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/paul-weaver.png" alt="">Paul Weaver</a>
                        <time>2 days ago</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">64 Comments</a>
                </div>
            </div>
        </article>

        <article class="search-result-full">
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Video
                    </div>
                    <div class="title">
                        <a href="#">Unboxing the Chase Sapphire Reserve</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/zach-honig.png" alt="">Zach Honig</a>
                        <time>August 24</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">546 Comments</a>
                </div>
            </div>
        </article>

        <article class="search-result-full">
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Round-Up
                    </div>
                    <div class="title">
                        <a href="#">Chase Sapphire Reserve V Chase Sapphire Preferred: Benefits, Coverage, &amp; More</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/brian.png" alt="">The Points Guy</a>
                        <time>2 days ago</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">139 Comments</a>
                </div>
            </div>
        </article>

        {# Call-out mode #}
        <article class="search-result-full call-out">
            <div class="img">
                <a href="#"><img src="images/search/three-call-out.png" alt=""></a>
            </div>
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Guide
                    </div>
                    <div class="title">
                        <a href="#">The Beginner's Guide</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/zach-honig.png" alt="">Zach Honig</a>
                        <time>3 days ago</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">78 Comments</a>
                </div>
            </div>
        </article>


        <article class="search-result-full">
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Q&amp;A
                    </div>
                    <div class="title">
                        <a href="#">Travel Credits Post Instantly With Chase Sapphire Reserve</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/paul-weaver.png" alt="">Paul Weaver</a>
                        <time>5 days ago</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">64 Comments</a>
                </div>
        </article>

        <article class="search-result-full">
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Video
                    </div>
                    <div class="title">
                        <a href="#">Why the Chase Sapphire Reserve’s Annual Credit Is Far Better Than the Competition</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/zach-honig.png" alt="">Zach Honig</a>
                        <time>2 days ago</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">546 Comments</a>
                </div>
            </div>
        </article>

        <article class="search-result-full">
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Round-Up
                    </div>
                    <div class="title">
                        <a href="#">Everything You Need to Know About Chase Sapphire Reserve Perks</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/amanda-hester.png" alt="">Amanda Hester</a>
                        <time>yesterday</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">139 Comments</a>
                </div>
            </div>
        </article>

        <article class="search-result-full">
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Q&amp;A
                    </div>
                    <div class="title">
                        <a href="#">Why Chase Sapphire Reserve’s Annual Credit is Far Better Than the Competition</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/paul-weaver.png" alt="">Paul Weaver</a>
                        <time>2 days ago</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">64 Comments</a>
                </div>
            </div>
        </article>

        <article class="search-result-full">
            <div class="search-result-details">
                <div class="meta">
                    <div class="label stripped">
                        Video
                    </div>
                    <div class="title">
                        <a href="#">Unboxing the Chase Sapphire Reserve</a>
                    </div>
                    <div class="byline">
                        by <a href="#"><img src="images/bylines/zach-honig.png" alt="">Zach Honig</a>
                        <time>August 24</time>
                    </div>
                </div>
                <div class="comments">
                    <a class="" href="#">546 Comments</a>
                </div>
            </div>
        </article>

    </section>

    {% include 'components/load-more.twig' with
        {
            isResults: true
        }
    %}

</div>
