<!-- Search Results Step 2 -->
<div class="search-step-2">

    <section class="horizontal-articles">
        <div class="search-options">
            <article id="result1" class="result hilite">Chase <em>Sapphire</em> Reserve</article>
            <article id="result2" class="result">Chase <em>Sapphire</em> Preferred</article>
            <div class="search-all result">search "Sapphire"...</div>
        </div>
    </section>

    <section class="horizontal-articles search-options-suggestions">

        <div class="horizontal-articles-wrapper">

            <div class="section-header small">
                Suggested posts
            </div>

            <div class="horizontal-articles">
                <div class="articles">
                    <div class="article">
                        <img class="thumbnail" src="images/search/two-card-reserve.png" alt="FPO">
                        <div class="link">
                            <a href="#">Chase Sapphire Reserve: Our Official Review</a>
                            <time>yesterday</time>
                        </div>
                    </div>
                    <div class="article">
                        <img class="thumbnail" src="images/search/two-card-preferred.png" alt="FPO">
                        <div class="link">
                            <a href="#">Guide: The Chase Sapphire Preferred</a>
                            <time>2 days ago</time>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
