<!-- Sidebar -->

{% include 'components/disclosure.twig' %}

<section class="sidebar">

    {% include 'components/widgets/our-favorite-cards.twig' %}

    {# {% include 'components/widgets/our-approach.twig' %} #}

    {% include 'components/widgets/how-far-can-you-fly.twig' %}

    {% include 'components/widgets/further-reading.twig' %}

    {% include 'components/widgets/guide-cta.twig' %}

    {% include 'components/widgets/the-latest.twig' %}

    {% include 'components/widgets/most-talked-about.twig' %}

</section>
