<!-- Spotlight article header -->

<div class="article-header">
    <div class="label">
        Round-Up
    </div>

    <div class="title">
        The Best Cards for Summer Travel: If You're Flying
    </div>
    <div class="byline">
        by Sarah Silbert
    </div>
    <div class="timestamp">
        Today at 12:14PM
    </div>
    <div class="meta">
        {% include 'components/share-icons.twig'%}
    </div>
</div>
