<!-- Styled Dropdown -->

<section class="styled-dropdown">
    <div class="dropdown-trigger">
        Any Airline, I'm Flexible
    </div>
    <div class="dropdown-contents">
        <div class="line-item">
            Option 1
        </div>
        <div class="line-item">
            Option 2
        </div>
        <div class="line-item">
            Option 3
        </div>
        <div class="line-item">
            Option 4
        </div>
    </div>
</section>
