<!-- Table -->

<section class="table">

    <table>
        <thead>
        <tr>
            <th>Program</th>
            <th>September 2015 (Cents)</th>
            <th>August 2016 (Cents)</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-content="Program">American Express Membership Rewards</td>
            <td data-content="Value">2.1</td>
            <td data-content="Past Value">2.0</td>
            <td data-content="Note">50% bonus for transfers to British Airways. Expansion underway at Seattle Centurion Lounge. Improved offers for Blue Cash cards.</td>
        </tr>
        <tr>
            <td data-content="Program">Barclaycard Arrival Miles</td>
            <td data-content="Value">1.2</td>
            <td data-content="Past Value">1.1</td>
            <td data-content="Note"></td>
        </tr>
        <tr>
            <td data-content="Program">Capital One</td>
            <td data-content="Value">1.4</td>
            <td data-content="Past Value"><strong>1.1</strong></td>
            <td data-content="Note"></td>
        </tr>
         <tr>
            <td data-content="Program">Chase Ultimate Rewards</td>
            <td data-content="Value">1.5</td>
            <td data-content="Past Value">1.8</td>
            <td data-content="Note">Sapphire Reserve Card now available, along with the J.P. Morgan Reserve Card.</td>
        </tr>
        </tbody>
    </table>

</section>
