<!-- The Latest Home - Individual Link -->

<div class="link">
    <a href="#">
        {{title}}
    </a>
    <div class="meta">
        <div class="timestamp">
            {{timestamp}}
       </div>
    </div>
</div>
