<!-- Table of Contents Trigger -->

<section class="toc-trigger">
    <div class="icons">
        <div class="back-to-top">
            <svg id="back-to-top" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.11 86.02">
              <title>Back to Top</title>
              <path class="cls-1" d="M.91,0A1,1,0,1,0,1.1,2h76a1,1,0,0,0,0-2H.91ZM39.07,16l-.22,0a1,1,0,0,0-.44.25l-22,21a1,1,0,1,0,1.38,1.47h0L38.1,19.35V85a1,1,0,1,0,2,0s0,0,0,0V19.35L60.41,38.72a1,1,0,0,0,1.38-1.47h0l-22-21A1,1,0,0,0,39.07,16Z"/>
            </svg>
        </div>
        <div class="toc">
            <svg id="toc" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 69.75">
              <title>Table of Contents</title>
              <path class="cls-1" d="M7.87,0a7.87,7.87,0,1,0,7.87,7.87A7.87,7.87,0,0,0,7.87,0Zm0,13.45a5.58,5.58,0,1,1,5.58-5.58A5.58,5.58,0,0,1,7.87,13.45Zm14.62-6.7V9H90V6.75Zm0,29.27H90V33.75H22.49ZM7.87,27a7.87,7.87,0,1,0,7.87,7.87A7.87,7.87,0,0,0,7.87,27Zm0,13.45a5.58,5.58,0,1,1,5.58-5.58A5.58,5.58,0,0,1,7.87,40.46ZM22.49,63H90V60.76H22.49ZM7.87,54a7.87,7.87,0,1,0,7.87,7.87A7.87,7.87,0,0,0,7.87,54Zm0,13.45a5.58,5.58,0,1,1,5.58-5.58A5.58,5.58,0,0,1,7.87,67.46Z"/>
            </svg>
        </div>
    </div>
</section>
