<!-- TPGtv block -->

<section class="tpgtv-block">

    <div class="section-header">
        {% if isAbout %}
            <span>
                Latest Episode of TPGTV
            </span>
        {% else %}
            <span>
                Video
            </span>
        {% endif %}
    </div>

    <div class="tpgtv-block-wrapper">
        <div class="main-content">
            <div class="image-wrapper">
                <div class="play-icon">
                    <svg version="1.1" id="play-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 199.2 199.2" style="enable-background:new 0 0 199.2 199.2;" xml:space="preserve">
                        <path class="st0" d="M99.6,198.9c-54.7,0-99.3-44.5-99.3-99.3S44.9,0.3,99.6,0.3s99.3,44.5,99.3,99.3S154.4,198.9,99.6,198.9z
                         M99.6,17.1c-45.5,0-82.6,37-82.6,82.6s37,82.6,82.6,82.6s82.6-37,82.6-82.6S145.1,17.1,99.6,17.1z"/>
                        <path class="st1" d="M125,98L90.3,68.6c-0.9-0.8-2.2-1-3.4-0.5c-1.1,0.5-1.8,1.6-1.8,2.9v58.8c0,1.2,0.7,2.3,1.8,2.9c0.4,0.2,0.9,0.3,1.3,0.3
                        c0.7,0,1.5-0.3,2-0.7l34.7-29.4c0.7-0.6,1.1-1.5,1.1-2.4C126.1,99.5,125.7,98.6,125,98z"/>
                    </svg>
                </div>
                <img src="images/tpgtv-fpo.jpg" alt="FPO video section">
            </div>
            <div class="meta">
                <div class="video-title">
                    <a href="#">TPGtv Episode 17: Cruising Around Ha Long Bay’s 2,000 Islands in Vietnam</a>
                </div>
                <div class="video-social">
                    <span class="twitter-icon">
                        &#62993;
                    </span>
                    <span class="facebook-icon">
                        &#62992;
                    </span>
                </div>
            </div>
        </div>
        {% if isAbout %}

        {% else %}
            <div class="side-content">
                <div class="title">
                    <span>
                        Further Viewing
                    </span>
                </div>
                <div class="link">
                    <div class="image-wrapper">
                        <img src="images/video-thumb1.jpg" alt="FPO Video thumb">
                    </div>
                    <div class="meta">
                        <div class="play-icon">
                            <svg version="1.1" id="play-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 199.2 199.2" style="enable-background:new 0 0 199.2 199.2;" xml:space="preserve">
                                <path class="st0" d="M99.6,198.9c-54.7,0-99.3-44.5-99.3-99.3S44.9,0.3,99.6,0.3s99.3,44.5,99.3,99.3S154.4,198.9,99.6,198.9z
                                 M99.6,17.1c-45.5,0-82.6,37-82.6,82.6s37,82.6,82.6,82.6s82.6-37,82.6-82.6S145.1,17.1,99.6,17.1z"/>
                                <path class="st1" d="M125,98L90.3,68.6c-0.9-0.8-2.2-1-3.4-0.5c-1.1,0.5-1.8,1.6-1.8,2.9v58.8c0,1.2,0.7,2.3,1.8,2.9c0.4,0.2,0.9,0.3,1.3,0.3
                                c0.7,0,1.5-0.3,2-0.7l34.7-29.4c0.7-0.6,1.1-1.5,1.1-2.4C126.1,99.5,125.7,98.6,125,98z"/>
                            </svg>
                        </div>
                        <a href="#">Calculate if a deal is worth the points</a>
                        <div class="video-social">
                            <span class="twitter-icon">
                                &#62993;
                            </span>
                            <span class="facebook-icon">
                                &#62992;
                            </span>
                        </div>
                    </div>
                </div>
                <div class="link">
                    <div class="image-wrapper">
                        <img src="images/video-thumb1.jpg" alt="FPO Video thumb">
                    </div>
                    <div class="meta">
                        <div class="play-icon">
                            <svg version="1.1" id="play-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 199.2 199.2" style="enable-background:new 0 0 199.2 199.2;" xml:space="preserve">
                                <path class="st0" d="M99.6,198.9c-54.7,0-99.3-44.5-99.3-99.3S44.9,0.3,99.6,0.3s99.3,44.5,99.3,99.3S154.4,198.9,99.6,198.9z
                                 M99.6,17.1c-45.5,0-82.6,37-82.6,82.6s37,82.6,82.6,82.6s82.6-37,82.6-82.6S145.1,17.1,99.6,17.1z"/>
                                <path class="st1" d="M125,98L90.3,68.6c-0.9-0.8-2.2-1-3.4-0.5c-1.1,0.5-1.8,1.6-1.8,2.9v58.8c0,1.2,0.7,2.3,1.8,2.9c0.4,0.2,0.9,0.3,1.3,0.3
                                c0.7,0,1.5-0.3,2-0.7l34.7-29.4c0.7-0.6,1.1-1.5,1.1-2.4C126.1,99.5,125.7,98.6,125,98z"/>
                            </svg>
                        </div>
                        <a href="#">Calculate if a deal is worth the points</a>
                        <div class="video-social">
                            <span class="twitter-icon">
                                &#62993;
                            </span>
                            <span class="facebook-icon">
                                &#62992;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% include 'components/more-link.twig' with
            {
                class: "",
                linkTarget: "#",
                linkText: "See more videos"
            }
        %}
    </div>
</section>
