<!-- Two - One Container -->

<section class="two-one-container">
    <div class="two-one-container-wrapper">
        {% include 'components/newsletter-module.twig' %}
        {% include 'components/single-deal-module.twig' %}
    </div>
</section>
