<!-- User Content -->

{% include 'components/user-hero.twig' %}

<div class="user-content">
    {% include 'components/account-panel.twig' %}
    {% include 'components/user-main-panel.twig' %}
    {% include 'components/alert-saved.twig' %}
    {% include 'components/add-a-card.twig' %}
</div>
