<!-- User Hero -->

<section class="user-hero">
    <div class="user-hero-wrapper">
        <div class="user-name">
            <img src="images/user-avatar.png" alt="User Profile FPO">
            <div class="title">
                mariecarter96
            </div>
        </div>
        <div class="airport-label">
            <svg id="airplane-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.85 77.75">
                <title>Airplane Icon</title>
                <path class="cls-1" d="M77.3.55c-2.2-2.2-12.3,2.7-16,6.4L49.2,19,11.1,9.45A8.06,8.06,0,0,0,2.6,11L0,13.65l36.8,17.8-1.3,1.3L31.2,37a20,20,0,0,0-1.9,2.2L16.2,56.95,5.3,55.35l-2.9,2.9,17.3,17.3,2.9-2.9L21,61.75l17.8-13.2c.7-.6,1.5-1.2,2.2-1.9,1-.9,3.5-3.5,4.2-4.2l1.3-1.3.9,1.5,17,35.1,2.6-2.6a7.94,7.94,0,0,0,1.6-8.4L59,28.65l12.1-12.1C74.6,12.85,79.5,2.65,77.3.55Z"/>
            </svg>
            <span class="airport-name">
                LAX
            </span>
        </div>
        {% include 'components/edit.twig' %}
    </div>
</section>
