<!-- Video article header -->

<div class="article-header">
    <div class="label">
        Video
    </div>

    <div class="title">
        TPGtv Episode 17: Cruising Around Ha Long Bay’s 2,000 Islands in Vietnam
    </div>
    <div class="byline">
        by
        <span class="byline-photo">
            <img src="images/byline-photo.jpg" alt="byline FPO">
        </span>
        Sarah Silbert
    </div>
    <div class="timestamp">
        Today at 12:14PM
    </div>
    <div class="meta">
        {% include 'components/share-icons.twig'%}
    </div>
</div>
