{# {% include "components/header-home.twig" %}
 #}
{% include "components/header-guide.twig" %}

{% include "components/home-ctas.twig" %}

{% include "components/home-nav.twig" %}

<div class="above-footer white">

    {% include "components/deal-article-header.twig" %}

    <div class="content">

        {% include "components/deal-article-content.twig" %}

    </div>

    {% include "components/related-links.twig" %}

    {% include "components/tags.twig" %}

    {% include 'components/advertiser-disclosure-body.twig' %}
</div>

{% include "components/footer.twig" %}
