{% include "components/header-guide.twig" %}

{% include "components/home-ctas.twig" %}

{% include "components/home-nav.twig" %}

{% include 'components/notification-bar.twig' %}

<div class="guide guide-wrapper above-footer white">

    {# {% include 'components/guide-overlays.twig' %} #}

    {% include 'components/guide-default-header.twig' %}

    <div class="content">

        {# {% include 'components/guide-subheader.twig' %} #}

        {% include 'components/editorial-disclosure.twig' %}

        {% include 'components/guide-content.twig' with
            {
                isGuideDefault: true
            }
        %}

    </div>

</div>

{% include 'components/advertiser-disclosure-body.twig' %}

{% include "components/footer.twig" %}
