{% include "components/header-home.twig" %}

{% include "components/home-ctas.twig" %}

{% include "components/home-nav.twig" %}

<div class="above-footer white">

    <div class="content">
        {% include "components/video-article-content.twig" %}
    </div>

    {% include "components/related-links-3.twig" %}

    {% include "components/tags.twig" %}

    {% include 'components/advertiser-disclosure-body.twig' %}
</div>

{% include "components/footer.twig" %}
