<!-- Widget - The Latest -->

<div class="widget featured-comment {{class}}">
    <blockquote>
        <div class="quote">
            “Hilton points are quite valuable when you consider that they're earned 5x as easily as SPG.”
        </div>
        <div class="attribution">
            Comment from <strong>David W</strong>
        </div>
    </blockquote>
    <div class="from">
        from
    </div>
    <div class="article-title">
        <a href="#">5 Things I'm Hoping for in the New Paris Hilton Hotels</a>
    </div>
</div>
