<!-- Widget - Further Reading -->

<div class="widget further-reading {{class}}">
    <div class="title">
        Further<br>Reading
    </div>
    <div class="link">
        <img src="images/summer-roadtrip.jpg" alt="FPO">
        <a href="">Spending Rewards on a Summer Roadtrip</a>
    </div>
    <div class="link">
        <img src="images/redeem-chase-points.jpg" alt="FPO">
        <a href="">The 3 Most Lucrative Ways to Redeem Chase Points</a>
    </div>
    <div class="link">
        <img src="images/advantage-miles.jpg" alt="FPO">
        <a href="">Playing the Alaska Airlines Transfer Game</a>
    </div>
</div>
