<!-- Widget - How Far Can You Fly -->

<div class="widget how-far-can-you-fly {{class}}">
    <div class="title alternate">
        How Far Can You Fly?
    </div>
    <div class="meta">
        <div class="intro">
            The American Express Gold Delta Skymiles Card
        </div>
        <div class="card">
            <img src="images/delta-skymiles-card.png" alt="Card image FPO">
        </div>
    </div>
    <div class="equation">
        <div class="base-miles">
            <span>50,000 miles</span>
            <small>
                Signing Bonus
            </small>
        </div>
        <div class="plus">
            <img src="images/icons/plus-sign-icon.svg" alt="Plus Sign Icon">
        </div>
        <div class="additional-miles">
            <input type="text" name="" placeholder="10,000">
            <span>miles</span>
            <small>
                in your Skymiles account
            </small>
        </div>
        <div class="yields">
            <img src="images/icons/arrow-icon.svg" alt="Arrow FPO">
        </div>
    </div>
    <div class="slideshow">
        <div class="images">
            <img src="images/maldives.jpg" alt="Maldives FPO">
        </div>
        <div class="overlay">
            <div class="from">
                From NYC to...
            </div>
            <div class="destination">
                Maldives
            </div>
            <div class="amount">
                56,000 Skymiles
            </div>
        </div>
        <div class="arrows">
            <div class="arrow left-arrow">
                <div class="lt-gt">
                </div>
            </div>
            <div class="arrow right-arrow">
                <div class="lt-gt">
                </div>
            </div>
        </div>
    </div>
    <button class="apply">
        Apply for This Card
    </button>
    <div class="powered-by">
        powered by <img src="images/delta-logo-small.png" alt="FPO Delta Logo">
    </div>
    <div class="terms">
        <a href="#">Terms &amp; Conditions</a>
    </div>
</div>
