<!-- Widget - Most Talked About -->

<div class="widget most-talked-about {{class}}">
    <div class="title">
        Most<br>Talked About
    </div>
    <div class="link">
        <a href="">
            The Palazzo Las Vegas
        </a>
        <a class="comment-link" href="">
            26 Comments
        </a>
    </div>
    <div class="link">
        <a href="">
            What are miles worth, May edition
        </a>
        <a class="comment-link" href="">
            169 Comments
        </a>
    </div>
    <div class="link">
        <a href="">
            10 Apps for European Travel
        </a>
        <a class="comment-link" href="">
            12 Comments
        </a>
    </div>
    <div class="link">
        <a href="">
            Airline Cards for Summer Travel
        </a>
        <a class="comment-link" href="">
            11 Comments
        </a>
    </div>
</div>
