<!-- Widget - Our Approach -->

<div class="widget our-approach {{class}}">
    <div class="title">
        <span class="circle">
        </span>
        <span class="title-micro">
            Our&nbsp;Approach
        </span>
    </div>
    <p>
        The Points Guy is editorially independent, and we never recommend a card or service we wouldn't use ourselves. If a reader applies for a card through our site we get an affiliate commission. <a href="">Learn more</a> about how the site works.
    </p>
</div>
