<!-- Widget - Our Favorite Cards -->

<div class="widget our-favorite-cards our-favorite-cards-horizontal {{class}}">

    <div class="our-favorite-cards-horizontal-wrapper">
        <div class="meta">
            <div class="title">
                Our<br>Favorite Cards
            </div>
            <div class="timestamp">
                Updated 6/15/16
            </div>
        </div>
{#         <div class="arrow-icon">
            <svg id="arrow-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.02 138.97">
                <defs>
                </defs>
                <title>arrow-icon</title>
                <rect class="cls-1" x="25.04" width="15.94" height="129.8"/>
                <polygon class="cls-1" points="66.02 105.75 54.75 94.47 32.73 116.49 11.27 95.02 0 106.29 32.68 138.97 32.73 138.92 32.79 138.97 66.02 105.75"/>
            </svg>
        </div> #}
        <div class="link">
            {% include 'components/favorite-individual-card.twig' with
                {
                    imgUrl: '<img src="images/chase-card.png" alt="Chase Card FPO">',
                    cardTitle: 'Ultimate Rewards',
                    offer: '50k + 5k Points'
                }
            %}
        </div>
        <div class="link">
            {% include 'components/favorite-individual-card.twig' with
                {
                    imgUrl: '<img src="images/hilton-hhonors.png" alt="Hilton Card FPO">',
                    cardTitle: 'Hilton HHonors',
                    offer: '60k + 5k Points'
                }
            %}
        </div>
        <div class="link">
            {% include 'components/favorite-individual-card.twig' with
                {
                    imgUrl: '<img src="images/aadvantage.png" alt="Aadvantage Card FPO">',
                    cardTitle: 'Ultimate Rewards',
                    offer: '60k Points'
                }
            %}
        </div>
        <div class="link">
            {% include 'components/favorite-individual-card.twig' with
                {
                    imgUrl: '<img src="images/jetblue-card.png" alt="JetBlue Card FPO">',
                    cardTitle: 'IHG Rewards',
                    offer: '70k Points'
                }
            %}
        </div>
        <div class="link">
            {% include 'components/favorite-individual-card.twig' with
                {
                    imgUrl: '<img src="images/amex-platinum.png" alt="Amex Platinum FPO">',
                    cardTitle: 'Rapid Rewards',
                    offer: '50k Points'
                }
            %}
        </div>
        <div class="link">
            {% include 'components/more-link.twig' with
                {
                    linkTarget: "#",
                    linkText: "See All"
                }
            %}
        </div>
    </div>
</div>
