<!-- Stats -->

<section class="stats-module {{class}}">
    <div class="title">
        The Basics
    </div>
    <div class="stats-module-content">
        <div class="details">
            <div class="detail-header">
                Hotel
            </div>
            <div class="detail-copy">
                Four Seasons
            </div>
            <div class="detail-header">
                Address
            </div>
            <div class="detail-copy">
                144 West 86th Street, NY NY 10024
            </div>
            <div class="detail-header">
                City
            </div>
            <div class="detail-copy">
                New York
            </div>
            <div class="detail-header">
                Phone
            </div>
            <div class="detail-copy">
                212-787-5743
            </div>
            <div class="detail-header">
                Room Reviewed
            </div>
            <div class="detail-copy">
                Suite
            </div>
            <div class="detail-header">
                Website
            </div>
            <div class="detail-copy">
                <a href="http://delta.com" target="_blank">delta.com</a>
            </div>
            <div class="detail-header">
                Points/loyalty program
            </div>
            <div class="detail-copy">
                Skymiles
            </div>
            <div class="detail-header">
                Total cost
            </div>
            <div class="detail-copy big-point">
                $1639.58
            </div>
        </div>
    </div>
</section>
