<!-- Widget - The Latest -->

<div class="widget the-latest {{class}}">
    <div class="title">
        The<br>Latest
    </div>
    <div class="timestamp">
        Updated today at 2:08pm
    </div>
    <div class="link">
        <img src="images/advantage-miles.jpg" alt="FPO">
        <a href="">
            Up to 67% Bonus When You Purchase Advantage Miles
        </a>
    </div>
    <div class="link">
        <img src="images/tpg18.jpg" alt="FPO">
        <a href="">
            TPGtv Episode 18
        </a>
    </div>
    <div class="link">
        <img src="images/flights-to-cuba.jpg" alt="FPO">
        <a href="">
            Flights to Cuba Now Bookable
        </a>
    </div>
    <div class="all-newest-posts">
        <a href="#">All Newest Posts</a>
    </div>
</div>
