<!-- Table of Content -->

<section class="toc-module {{class}}">
    {% if isPanel %}
    {% else %}
        <div class="title">
            <span>In This Post</span>
        </div>
    {% endif %}

    {% if isPanel %}
        <div class="controls">
            <div class="back-to-top">
                Back to Top
            </div>
            <div class="x-close">
                <svg version="1.1" id="x-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 42.4 42.4" style="enable-background:new 0 0 42.4 42.4;" xml:space="preserve">
                    <rect class="cls-1" x="-6.8" y="19.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.7868 21.2132)" width="56" height="4"></rect>
                    <rect class="cls-1" x="-6.8" y="19.2" transform="matrix(0.7071 0.7071 -0.7071 0.7071 21.2132 -8.7868)" width="56" height="4"></rect>
                </svg>
            </div>
        </div>
    {% endif %}

    <div class="toc-module-content">
        <ol class="chapters">
            <li>
                <a href="#booking">The Booking Process</a>
            </li>
            <li>
                <a href="#check-in">A Streamlined Mobile-Friendly Check-in</a>
            </li>
            <li>
                <a href="#">Rooms with a View</a>
            </li>
            <li>
                <a href="#">Water-Conscious Bathrooms</a>
            </li>
            <li>
                <a href="#">Amenities (If You’re Willing to Pay)</a>
            </li>
            <li>
                <a href="#">Seafood-Centric Dining Experience</a>
            </li>
            <li id="tocTrigger">
                <a href="#">Our Overall Impressions</a>
            </li>
        </ol>
    </div>

</section>
