<!-- Widget - What's Possible with Points -->

<div class="widget whats-possible-with-points {{class}}">
    <div class="title">
        What's Possible<br>
        with Points
    </div>
    <div class="timestamp">
        Real trips our readers have taken for less than $100 cash
    </div>

    <div class="points-story">
        <div class="location">
            <img src="images/seychelles.png" alt="Seychelles FPO">
            <div class="meta">
                <div class="departure">
                    Philadelphia to...
                </div>
                <div class="arrival">
                    Seychelles
                </div>
                <div class="cost">
                    46k miles + $23.05
                </div>
            </div>
        </div>
        <div class="person">
            <img src="images/mark-tanner.png" alt="Mark Tanner FPO">
            <div class="person-name">
                Mark Tanner
            </div>
            <div class="reader-since">
                Reader since June '11
            </div>
            <div class="means">
                <a href="#">SPG Preferred AmEx</a>
            </div>
        </div>
    </div>
    <div class="points-story">
        <div class="location">
            <img src="images/bahamas.png" alt="Seychelles FPO">
            <div class="meta">
                <div class="departure">
                    NYC to...
                </div>
                <div class="arrival">
                    Bahamas
                </div>
                <div class="cost">
                    55k miles + $44.15
                </div>
            </div>
        </div>
        <div class="person">
            <img src="images/anne-taft.png" alt="Mark Tanner FPO">
            <div class="person-name">
                Anne Taft
            </div>
            <div class="reader-since">
                Reader since June '15
            </div>
            <div class="means">
                <a href="#">Chase Sapphire Preferred</a>
            </div>
        </div>
    </div>
    <div class="challenge">
        Think your deal was better?
    </div>
    <div class="submit-your-tip">
        <a href="#">Submit Your Tip</a>
    </div>
</div>
